<style>
@page {
  size: A3 portrait;
  margin: 1cm;
}
body {
  font-size: 12pt;
  margin: 0;
}
</style>

@abdrahym

# ASEAN Cities Weather Data - Data Models

[ASEAN Cities Weather Data 2010-YTD(https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)](https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)

## Model Plots

## Initial Setup

In [1]:
# initial setup
import warnings
warnings.filterwarnings("ignore")

import time
%load_ext autoreload
%autoreload 2
time.sleep(1)

%load_ext sql

In [2]:
## get path def

import os
import sys

paths_config = {} 
if os.path.exists(".paths"):
    with open(".paths", 'r') as f:
        for line in f:
            if not line.strip() or '=' not in line:
                continue
            
            key, val = line.strip().split('=')
            key = key.strip()
            path = val.strip().strip("'")

            paths_config[key] = path

## declare paths
target_syspaths = ['wscripts', 'gscripts']
target_varpaths = [ 'wscripts', 'gscripts',
                    'wsqls', 'gsqls', 
                    'dbases']

for key, path in paths_config.items():
    if key in target_syspaths:
        if path and path not in sys.path:
            sys.path.append(path)
    
    if key in target_varpaths:
        globals()[key] = path

In [3]:
run_cells = f'{wscripts}/importLibsDb.cellbx.py'
%run -i $run_cells

In [4]:
dirpath = f'{dbases}'
os_listdir(
        path=dirpath,
        exclude_likely='_dev'
        )

--- Directory Table of Contents ---
[FILTER LIKELY IGNORE]: _dev
- [DIR]  .ddb
- [FILE] asean_cities_weather.duckdb    [2.75 GB]
--------------------------------------------------

In [5]:
duckdb_files = f'{dbases}/asean_cities_weather.duckdb'
run_cells = f'{wscripts}/condb_aseancitiesweather_ddb.cellbx.py'
%run -i $run_cells

✅ Successfully connected to DuckDB
   Version: v1.4.3

%config SqlMagic.autopandas = True
%config SqlMagic.displaylimit = 50
%sql $engine_duckdb --alias aseancitiesweather

In [6]:
schema_target = 'models'
ddb_inspect_schema(schema_target, duckdb_files)

Found 8 objects in schema 'models'

### Get Data from Model

#### Daily Plot

In [ ]:
qstring = """
    SELECT
            ac.country as country,
            md.*
    FROM models.hourly_phase_weather_advw as md
    LEFT JOIN main.asean_cities  as ac
    using (city)
"""

model_df_daily = ddb_getdf_qstring(duckdb_files,qstring=qstring, chunksize=250000)
run_cells = f'{wscripts}/daily_plotly_avgtempr_yearlydecade.cellbx.py'
%run -i $run_cells

print("@abdrahym")

Fetching Data: 100%|██████████| 7165320/7165320 [00:52<00:00, 136770.40 rows/s]

-----------------------------------------------------------------
✅ DuckDB, Query to DF Success
   ddb File : asean_cities_weather.duckdb
   Target   : Pandas DataFrame
   Source   : 'SQL String'
   Stats    : 7,165,320 Rows | 19 Columns
   Duration : 53.07s (0m 53s)
-----------------------------------------------------------------

VBox(children=(HTML(value='<h2>Data Model - Hourly Average Temperature</h2>'), HBox(children=(Dropdown(descrip…

@abdrahym

#### weekly Plot

qstring = """
    SELECT *
    FROM models.weakly_phase_weather_advw as md
    LEFT JOIN main.asean_cities  as ac
    using (city)
"""

model_df_weekly = ddb_getdf_qstring(duckdb_files,qstring=qstring, chunksize=250000)

run_cells = f'{wscripts}/weekly_plotly_avgtempr_yearlydecade.cellbx.py'
%run -i $run_cells