<style>
@page {
  size: A3 portrait;
  margin: 1cm;
}
body {
  font-size: 12pt;
  margin: 0;
}
</style>

@abdrahym

# ASEAN Cities Weather Data

[ASEAN Cities Weather Data 2010-YTD(https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)](https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)

## About Dataset



### Context

Coordinates of ASEAN cities from [https://simplemaps.com/](https://simplemaps.com/), hourly and daily Weather Dataset from **[https://open-meteo.com/](https://open-meteo.com/)** from January 01, 2010 to November 05, 2024.

### Field documentation go here

-   **[https://open-meteo.com/en/docs/historical-weather-api#start\_date=2010-01-01&end\_date=2025-04-05](https://open-meteo.com/en/docs/historical-weather-api#start_date=2010-01-01&end_date=2025-04-05)**
-   Datetime is in GMT

### Visually verify coordinates

-   Replace the placeholders with the latitude and longitude values of the cities **[https://www.latlong.net/c/?lat=(latitude)&long=(longitude](https://www.latlong.net/c/?lat=(latitude)&long=(longitude))**
-   Another way to visualize the coordinates **[https://www.ncei.noaa.gov/maps/radar/](https://www.ncei.noaa.gov/maps/radar/)**

### Citations and Acknowledgements

-   Zippenfenig, P. (2023). Open-Meteo.com Weather API \[Computer software\]. Zenodo. [https://doi.org/10.5281/ZENODO.7970649](https://doi.org/10.5281/ZENODO.7970649)
-   Hersbach, H., Bell, B., Berrisford, P., Biavati, G., Horányi, A., Muñoz Sabater, J., Nicolas, J., Peubey, C., Radu, R., Rozum, I., Schepers, D., Simmons, A., Soci, C., Dee, D., Thépaut, J-N. (2023). ERA5 hourly data on single levels from 1940 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/cds.adbb2d47](https://doi.org/10.24381/cds.adbb2d47)
-   Muñoz Sabater, J. (2019). ERA5-Land hourly data from 2001 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.E2161BAC](https://doi.org/10.24381/CDS.E2161BAC)
-   Schimanke S., Ridal M., Le Moigne P., Berggren L., Undén P., Randriamampianina R., Andrea U., Bazile E., Bertelsen A., Brousseau P., Dahlgren P., Edvinsson L., El Said A., Glinton M., Hopsch S., Isaksson L., Mladek R., Olsson E., Verrelle A., Wang Z.Q. (2021). CERRA sub-daily regional reanalysis data for Europe on single levels from 1984 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.622A565A](https://doi.org/10.24381/CDS.622A565A)

## Data Ingestion

### Initial Setup

In [1]:
# initial setup
import warnings
warnings.filterwarnings("ignore")

import time
%load_ext autoreload
%autoreload 2
time.sleep(1)

%load_ext sql

In [2]:
## get path def

import os
import sys

paths_config = {} 
if os.path.exists(".paths"):
    with open(".paths", 'r') as f:
        for line in f:
            if not line.strip() or '=' not in line:
                continue
            
            key, val = line.strip().split('=')
            key = key.strip()
            path = val.strip().strip("'")

            paths_config[key] = path

print(paths_config.keys())

## declare paths
target_syspaths = ['gscripts', 'scripts']
target_varpaths = [ 'datasets', 'dataset1970', 
                    'dataset1980', 'dataset1990', 
                    'dataset2000', 'dataset2010',                    
                    'gscripts', 'scripts',
                    'sqls', 'dbases']

for key, path in paths_config.items():
    if key in target_syspaths:
        if path and path not in sys.path:
            sys.path.append(path)
    
    if key in target_varpaths:
        globals()[key] = path

dict_keys(['datasets', 'dataset1970', 'dataset1980', 'dataset1990', 'dataset2000', 'dataset2010', 'dbases', 'gscripts', 'scripts', 'sqls', 'servdatasets', 'servdataset1970', 'servdataset1980', 'servdataset1990', 'servdataset2000', 'servdataset2010', 'servdbases'])

In [3]:
run_cells = f'{scripts}/importLibsDb.cellbx.py'
%run -i $run_cells

run_cells = f'{scripts}/timecounter.cellbx.py'
%run -i $run_cells

In [4]:
dirpath = f'{dbases}'
os_listdir(
        path=dirpath,
        )

--- Directory Table of Contents ---
- [DIR]  .ddb
--------------------------------------------------

In [5]:
dirpath = f'{datasets}'
os_listdir(
        path=dirpath,
        recursive=True
        )

--- Directory Table of Contents ---
Scanning recursively in: ../../../.datasharewbx/ASEANCitiesWeatherDatas

[FOLDER] [path]:
  - DIR : ASEANCitiesWeatherData1970_1979
  - DIR : ASEANCitiesWeatherData1980_1989
  - DIR : ASEANCitiesWeatherData1990_1999
  - DIR : ASEANCitiesWeatherData2000_2009
  - DIR : ASEANCitiesWeatherData2010_YTD

[FOLDER] [path]\ASEANCitiesWeatherData1970_1979:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.16 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1980_1989:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1990_1999:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.13 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2000_2009:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2010_YTD:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (59.77 MB)
  - FILE: daily_units.csv (475.00 B)
  - FILE: hourly_data.csv (2.16 GB)
  - FILE: hourly_units.csv (1.05 KB)
--------------------------------------------------

### DuckDB

In [6]:
duckdb_files = f'{dbases}/asean_cities_weather.duckdb'
run_cells = f'{scripts}/condb_aseancitiesweather_ddb.cellbx.py'
%run -i $run_cells

✅ Successfully connected to DuckDB
   Version: v1.4.3

#### ASEANCitiesWeatherData1970_1979

In [7]:
schema_target = 'years1970s'
datasets_target = dataset1970

##### ASEAN_cities

In [8]:
table_target = 'tbl_asean_cities'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading ASEAN_cities.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1970s.tbl_asean_cities
   Source   : 'ASEAN_cities.csv'
   Stats    : 71 Rows | 5 Columns | 2.94 KB
   Duration : 0.18s (0m 0s)
-----------------------------------------------------------------

##### daily_data

In [9]:
table_target = 'tbl_daily_data'
file_sources = f'{datasets_target}/daily_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1970s.tbl_daily_data
   Source   : 'daily_data.csv'
   Stats    : 259,292 Rows | 22 Columns | 39.16 MB
   Duration : 0.77s (0m 0s)
-----------------------------------------------------------------

##### daily_units

In [10]:
table_target = 'tbl_daily_units'
file_sources = f'{datasets_target}/daily_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1970s.tbl_daily_units
   Source   : 'daily_units.csv'
   Stats    : 1 Rows | 21 Columns | 559.00 B
   Duration : 0.14s (0m 0s)
-----------------------------------------------------------------

##### hourly_data

In [11]:
table_target = 'tbl_hourly_data'
file_sources = f'{datasets_target}/hourly_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1970s.tbl_hourly_data
   Source   : 'hourly_data.csv'
   Stats    : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration : 14.48s (0m 14s)
-----------------------------------------------------------------

##### hourly_units

In [12]:
table_target = 'tbl_hourly_units'
file_sources = f'{datasets_target}/hourly_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1970s.tbl_hourly_units
   Source   : 'hourly_units.csv'
   Stats    : 1 Rows | 43 Columns | 1.22 KB
   Duration : 0.26s (0m 0s)
-----------------------------------------------------------------

#### ASEANCitiesWeatherData1980_1989

In [13]:
schema_target = 'years1980s'
datasets_target = dataset1980

##### ASEAN_cities

In [14]:
table_target = 'tbl_asean_cities'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading ASEAN_cities.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1980s.tbl_asean_cities
   Source   : 'ASEAN_cities.csv'
   Stats    : 71 Rows | 5 Columns | 2.94 KB
   Duration : 0.37s (0m 0s)
-----------------------------------------------------------------

##### daily_data

In [15]:
table_target = 'tbl_daily_data'
file_sources = f'{datasets_target}/daily_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1980s.tbl_daily_data
   Source   : 'daily_data.csv'
   Stats    : 259,363 Rows | 22 Columns | 39.14 MB
   Duration : 1.00s (0m 0s)
-----------------------------------------------------------------

##### daily_units

In [16]:
table_target = 'tbl_daily_units'
file_sources = f'{datasets_target}/daily_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1980s.tbl_daily_units
   Source   : 'daily_units.csv'
   Stats    : 1 Rows | 21 Columns | 559.00 B
   Duration : 0.29s (0m 0s)
-----------------------------------------------------------------

##### hourly_data

In [17]:
table_target = 'tbl_hourly_data'
file_sources = f'{datasets_target}/hourly_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1980s.tbl_hourly_data
   Source   : 'hourly_data.csv'
   Stats    : 6,224,712 Rows | 44 Columns | 1.42 GB
   Duration : 14.42s (0m 14s)
-----------------------------------------------------------------

##### hourly_units

In [18]:
table_target = 'tbl_hourly_units'
file_sources = f'{datasets_target}/hourly_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1980s.tbl_hourly_units
   Source   : 'hourly_units.csv'
   Stats    : 1 Rows | 43 Columns | 1.22 KB
   Duration : 0.36s (0m 0s)
-----------------------------------------------------------------

#### ASEANCitiesWeatherData1990_1999

In [19]:
schema_target = 'years1990s'
datasets_target = dataset1990

##### ASEAN_cities

In [20]:
table_target = 'tbl_asean_cities'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading ASEAN_cities.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1990s.tbl_asean_cities
   Source   : 'ASEAN_cities.csv'
   Stats    : 71 Rows | 5 Columns | 2.94 KB
   Duration : 0.42s (0m 0s)
-----------------------------------------------------------------

##### daily_data

In [21]:
table_target = 'tbl_daily_data'
file_sources = f'{datasets_target}/daily_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1990s.tbl_daily_data
   Source   : 'daily_data.csv'
   Stats    : 259,292 Rows | 22 Columns | 39.13 MB
   Duration : 0.91s (0m 0s)
-----------------------------------------------------------------

##### daily_units

In [22]:
table_target = 'tbl_daily_units'
file_sources = f'{datasets_target}/daily_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1990s.tbl_daily_units
   Source   : 'daily_units.csv'
   Stats    : 1 Rows | 21 Columns | 559.00 B
   Duration : 0.28s (0m 0s)
-----------------------------------------------------------------

##### hourly_data

In [23]:
table_target = 'tbl_hourly_data'
file_sources = f'{datasets_target}/hourly_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1990s.tbl_hourly_data
   Source   : 'hourly_data.csv'
   Stats    : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration : 12.85s (0m 12s)
-----------------------------------------------------------------

##### hourly_units

In [24]:
table_target = 'tbl_hourly_units'
file_sources = f'{datasets_target}/hourly_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years1990s.tbl_hourly_units
   Source   : 'hourly_units.csv'
   Stats    : 1 Rows | 43 Columns | 1.22 KB
   Duration : 0.50s (0m 0s)
-----------------------------------------------------------------

#### ASEANCitiesWeatherData2000_2009

In [25]:
schema_target = 'years2000s'
datasets_target = dataset2000

##### ASEAN_cities

In [26]:
table_target = 'tbl_asean_cities'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading ASEAN_cities.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2000s.tbl_asean_cities
   Source   : 'ASEAN_cities.csv'
   Stats    : 71 Rows | 5 Columns | 2.94 KB
   Duration : 0.36s (0m 0s)
-----------------------------------------------------------------

##### daily_data

In [27]:
table_target = 'tbl_daily_data'
file_sources = f'{datasets_target}/daily_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2000s.tbl_daily_data
   Source   : 'daily_data.csv'
   Stats    : 259,434 Rows | 22 Columns | 39.14 MB
   Duration : 1.05s (0m 1s)
-----------------------------------------------------------------

##### daily_units

In [28]:
table_target = 'tbl_daily_units'
file_sources = f'{datasets_target}/daily_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2000s.tbl_daily_units
   Source   : 'daily_units.csv'
   Stats    : 1 Rows | 21 Columns | 559.00 B
   Duration : 0.32s (0m 0s)
-----------------------------------------------------------------

##### hourly_data

In [29]:
table_target = 'tbl_hourly_data'
file_sources = f'{datasets_target}/hourly_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2000s.tbl_hourly_data
   Source   : 'hourly_data.csv'
   Stats    : 6,226,416 Rows | 44 Columns | 1.42 GB
   Duration : 15.18s (0m 15s)
-----------------------------------------------------------------

##### hourly_units

In [30]:
table_target = 'tbl_hourly_units'
file_sources = f'{datasets_target}/hourly_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2000s.tbl_hourly_units
   Source   : 'hourly_units.csv'
   Stats    : 1 Rows | 43 Columns | 1.22 KB
   Duration : 0.57s (0m 0s)
-----------------------------------------------------------------

#### ASEANCitiesWeatherData2010_YTD

In [31]:
schema_target = 'years2010s'
datasets_target = dataset2010

##### ASEAN_cities

In [32]:
table_target = 'tbl_asean_cities'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading ASEAN_cities.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2010s.tbl_asean_cities
   Source   : 'ASEAN_cities.csv'
   Stats    : 71 Rows | 5 Columns | 2.94 KB
   Duration : 0.42s (0m 0s)
-----------------------------------------------------------------

##### daily_data

In [33]:
table_target = 'tbl_daily_data'
file_sources = f'{datasets_target}/daily_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2010s.tbl_daily_data
   Source   : 'daily_data.csv'
   Stats    : 395,754 Rows | 22 Columns | 59.77 MB
   Duration : 1.19s (0m 1s)
-----------------------------------------------------------------

##### daily_units

In [34]:
table_target = 'tbl_daily_units'
file_sources = f'{datasets_target}/daily_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading daily_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2010s.tbl_daily_units
   Source   : 'daily_units.csv'
   Stats    : 1 Rows | 21 Columns | 475.00 B
   Duration : 0.41s (0m 0s)
-----------------------------------------------------------------

##### hourly_data

In [35]:
table_target = 'tbl_hourly_data'
file_sources = f'{datasets_target}/hourly_data.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_data.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2010s.tbl_hourly_data
   Source   : 'hourly_data.csv'
   Stats    : 9,498,096 Rows | 44 Columns | 2.16 GB
   Duration : 22.28s (0m 22s)
-----------------------------------------------------------------

##### hourly_units

In [36]:
table_target = 'tbl_hourly_units'
file_sources = f'{datasets_target}/hourly_units.csv'

tag_res = \
	ddb_up_csv(duckdb_files, schema_target, table_target, file_sources, gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Uploading hourly_units.csv via DuckDB Engine...
-----------------------------------------------------------------
✅ DuckDB, Single Upload Success
   ddb File : asean_cities_weather.duckdb
   Target   : years2010s.tbl_hourly_units
   Source   : 'hourly_units.csv'
   Stats    : 1 Rows | 43 Columns | 1.05 KB
   Duration : 0.47s (0m 0s)
-----------------------------------------------------------------

### Report

In [37]:
nb_total_ttm = time.time() - nb_start_time

In [38]:
dirpath = f'{dbases}'
os_listdir(
        path=dirpath,
        )

nb_mins_ttm, nb_secs_ttm = int(nb_total_ttm // 60), int(nb_total_ttm % 60)
files_mins_ttm, files_secs_ttm = int(files_tm // 60), int(files_tm % 60)

print("-" * 65)
print(f"Total Durations (All): {nb_total_ttm:.2f}s ({nb_mins_ttm}m {nb_secs_ttm}s)")
print(f"Total Durations (Files data): {files_tm:.2f}s ({files_mins_ttm}m {files_secs_ttm}s)")
print(f"Total size processing (Files data): {utility._format_size_bytes(files_tbytes)}")
print(f"Total Rows upload (Files data): {files_trows:,} rows")
print("-" * 65 + "\n")

--- Directory Table of Contents ---
- [DIR]  .ddb
- [FILE] asean_cities_weather.duckdb    [1.71 GB]
--------------------------------------------------
-----------------------------------------------------------------
Total Durations (All): 98.69s (1m 38s)
Total Durations (Files data): 89.49s (1m 29s)
Total size processing (Files data): 8.04 GB
Total Rows upload (Files data): 35,828,740 rows
-----------------------------------------------------------------