<style>
@page {
  size: A3 portrait;
  margin: 1cm;
}
body {
  font-size: 12pt;
  margin: 0;
}
</style>
@abdrahym

# ASEAN Cities Weather Data

[ASEAN Cities Weather Data 2010-YTD(https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)](https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)

## About Dataset



### Context

Coordinates of ASEAN cities from [https://simplemaps.com/](https://simplemaps.com/), hourly and daily Weather Dataset from **[https://open-meteo.com/](https://open-meteo.com/)** from January 01, 2010 to November 05, 2024.

### Field documentation go here

-   **[https://open-meteo.com/en/docs/historical-weather-api#start\_date=2010-01-01&end\_date=2025-04-05](https://open-meteo.com/en/docs/historical-weather-api#start_date=2010-01-01&end_date=2025-04-05)**
-   Datetime is in GMT

### Visually verify coordinates

-   Replace the placeholders with the latitude and longitude values of the cities **[https://www.latlong.net/c/?lat=(latitude)&long=(longitude](https://www.latlong.net/c/?lat=(latitude)&long=(longitude))**
-   Another way to visualize the coordinates **[https://www.ncei.noaa.gov/maps/radar/](https://www.ncei.noaa.gov/maps/radar/)**

### Citations and Acknowledgements

-   Zippenfenig, P. (2023). Open-Meteo.com Weather API \[Computer software\]. Zenodo. [https://doi.org/10.5281/ZENODO.7970649](https://doi.org/10.5281/ZENODO.7970649)
-   Hersbach, H., Bell, B., Berrisford, P., Biavati, G., Horányi, A., Muñoz Sabater, J., Nicolas, J., Peubey, C., Radu, R., Rozum, I., Schepers, D., Simmons, A., Soci, C., Dee, D., Thépaut, J-N. (2023). ERA5 hourly data on single levels from 1940 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/cds.adbb2d47](https://doi.org/10.24381/cds.adbb2d47)
-   Muñoz Sabater, J. (2019). ERA5-Land hourly data from 2001 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.E2161BAC](https://doi.org/10.24381/CDS.E2161BAC)
-   Schimanke S., Ridal M., Le Moigne P., Berggren L., Undén P., Randriamampianina R., Andrea U., Bazile E., Bertelsen A., Brousseau P., Dahlgren P., Edvinsson L., El Said A., Glinton M., Hopsch S., Isaksson L., Mladek R., Olsson E., Verrelle A., Wang Z.Q. (2021). CERRA sub-daily regional reanalysis data for Europe on single levels from 1984 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.622A565A](https://doi.org/10.24381/CDS.622A565A)

## Initial Setup

In [1]:
# initial setup
import warnings
warnings.filterwarnings("ignore")

import time
%load_ext autoreload
%autoreload 2
time.sleep(1)

%load_ext sql

In [2]:
## get path def

import os
import sys

paths_config = {} 
if os.path.exists(".paths"):
    with open(".paths", 'r') as f:
        for line in f:
            if not line.strip() or '=' not in line:
                continue
            
            key, val = line.strip().split('=')
            key = key.strip()
            path = val.strip().strip("'")

            paths_config[key] = path

print(paths_config.keys())

## declare paths
target_syspaths = ['gscripts', 'scripts']
target_varpaths = [ 'datasets', 'dataset1970', 
                    'dataset1980', 'dataset1990', 
                    'dataset2000', 'dataset2010',                    
                    'gscripts', 'scripts',
                    'sqls', 'dbases']

for key, path in paths_config.items():
    if key in target_syspaths:
        if path and path not in sys.path:
            sys.path.append(path)
    
    if key in target_varpaths:
        globals()[key] = path

dict_keys(['datasets', 'dataset1970', 'dataset1980', 'dataset1990', 'dataset2000', 'dataset2010', 'dbases', 'gscripts', 'scripts', 'sqls'])

In [ ]:
# Prepare engine connection

run_cells = f'{scripts}/importLibsDb.cellbx.py'
%run -i $run_cells

run_cells = f'{scripts}/timecounter.cellbx.py'
%run -i $run_cells

run_cells = f'{scripts}/condb_aseancitiesweather_pgsql.cellbx.py'
%run -i $run_cells

✅ Successfully connected to PostgreSQL
   Version: PostgreSQL 17.7 (Debian 17.7-3.pgdg12+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14+deb12u1) 12.2.0, 64-bit

In [4]:
%config SqlMagic.displaylimit = 50
%sql $engconn_asean_cities_weather --alias engconn_aseancitiesweather

Connecting to 'engconn_aseancitiesweather'

<div style="page-break-after: always;"></div>

## Explorer Paths dir

In [5]:
dirpath = f'{datasets}'
os_listdir(
        path=dirpath,
        )

--- Directory Table of Contents ---
- [DIR]  ASEANCitiesWeatherData1970_1979
- [DIR]  ASEANCitiesWeatherData1980_1989
- [DIR]  ASEANCitiesWeatherData1990_1999
- [DIR]  ASEANCitiesWeatherData2000_2009
- [DIR]  ASEANCitiesWeatherData2010_YTD
--------------------------------------------------

In [6]:
dirpath = f'{datasets}'
os_listdir(
        path=dirpath,
        recursive=True
        )

--- Directory Table of Contents ---
Scanning recursively in: ../../.datasharewbx/ASEANCitiesWeatherDatas

[FOLDER] [path]:
  - DIR : ASEANCitiesWeatherData1970_1979
  - DIR : ASEANCitiesWeatherData1980_1989
  - DIR : ASEANCitiesWeatherData1990_1999
  - DIR : ASEANCitiesWeatherData2000_2009
  - DIR : ASEANCitiesWeatherData2010_YTD

[FOLDER] [path]\ASEANCitiesWeatherData1970_1979:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.16 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1980_1989:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1990_1999:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.13 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2000_2009:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2010_YTD:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (59.77 MB)
  - FILE: daily_units.csv (475.00 B)
  - FILE: hourly_data.csv (2.16 GB)
  - FILE: hourly_units.csv (1.05 KB)
--------------------------------------------------

<div style="page-break-after: always;"></div>

## Postgresql Database

### ASEANCitiesWeatherData1970_1979

In [7]:
qstrings = """
    CREATE SCHEMA IF NOT EXISTS data1970s;
"""

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:46:52 | [STATUS] CREATE SCHEMA
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

In [8]:
schema_target = 'data1970s'
datasets_target = dataset1970

#### ASEAN_cities

##### explorer object (table)

In [9]:
table_target = 'tbl_asean_cities'

In [10]:
csvfile = f'{datasets_target}/ASEAN_cities.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 197.39chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     71 non-null     object
 1   city        71 non-null     object
 2   latitude    71 non-null     float64
 3   longitude   71 non-null     float64
 4   population  71 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

                    50       64
country       Cambodia    Burma
city        Phnom Penh   Hpa-An
latitude       11.5694  16.8906
longitude     104.9211  97.6333
population     2129371   421525

##### Create schema object (table)

In [11]:
qfile = (
    f"{sqls}/"
    "pg.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:46:53 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [12]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 5 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 5 Rows | 4 Columns | 1.20 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name          data_type is_nullable column_default
0     country  character varying          NO           None
1        city  character varying          NO           None
2    latitude   double precision         YES           None
3   longitude   double precision         YES           None
4  population            integer         YES           None

##### Insert data

In [13]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 71/71 [00:00<00:00, 571.57rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1970s.tbl_asean_cities
   Source      : ASEAN_cities.csv
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

#### daily_data

##### explorer object (table)

In [14]:
table_target = 'tbl_daily_data'

In [15]:
csvfile = f'{datasets_target}/daily_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000, method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    1000 non-null   object
 1   datetime                     1000 non-null   object
 2   weather_code                 1000 non-null   float64
 3   temperature_2m_max           1000 non-null   float64
 4   temperature_2m_min           1000 non-null   float64
 5   temperature_2m_mean          1000 non-null   float64
 6   apparent_temperature_max     1000 non-null   float64
 7   apparent_temperature_min     1000 non-null   float64
 8   apparent_temperature_mean    1000 non-null   float64
 9   sunrise                      1000 non-null   object
 10  sunset                       1000 non-null   object
 11  daylight_duration            1000 non-null   float64
 12  sunshine_duration            1000 non-null   float64
 13  precipitation_sum            1000 non-null   float64
 14  rain_sum                     1000 non-null   float64
 15  snowfall_sum                 1000 non-null   float64
 16  precipitation_hours          1000 non-null   float64
 17  wind_speed_10m_max           1000 non-null   float64
 18  wind_gusts_10m_max           1000 non-null   float64
 19  wind_direction_10m_dominant  1000 non-null   float64
 20  shortwave_radiation_sum      1000 non-null   float64
 21  et0_fao_evapotranspiration   1000 non-null   float64
dtypes: float64(18), object(4)
memory usage: 172.0+ KB
None

                                          895               449
city_name                                Bago              Bago
datetime                           1972-06-14        1971-03-26
weather_code                             63.0               0.0
temperature_2m_max                       30.6              37.0
temperature_2m_min                       24.3              23.1
temperature_2m_mean                      26.7              29.3
apparent_temperature_max                 36.5              39.2
apparent_temperature_min                 29.3              27.2
apparent_temperature_mean                32.3              32.4
sunrise                      1972-06-13T22:59  1971-03-25T23:34
sunset                       1972-06-14T12:08  1971-03-26T11:45
daylight_duration                    47364.85          43929.68
sunshine_duration                    36017.68          40658.29
precipitation_sum                        10.4               0.0
rain_sum                                 10.4               0.0
snowfall_sum                              0.0               0.0
precipitation_hours                      15.0               0.0
wind_speed_10m_max                       13.7              16.2
wind_gusts_10m_max                       27.7              32.4
wind_direction_10m_dominant             173.0             178.0
shortwave_radiation_sum                 17.61             24.42
et0_fao_evapotranspiration               3.55              6.15

##### Create schema object (table)

In [16]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:46:54 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.03s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [17]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 22 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 22 Rows | 4 Columns | 5.10 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name                    data_type is_nullable column_default
0                     city_name            character varying          NO           None
1                      datetime                         date          NO           None
2                  weather_code             double precision         YES           None
3            temperature_2m_max             double precision         YES           None
4            temperature_2m_min             double precision         YES           None
5           temperature_2m_mean             double precision         YES           None
6      apparent_temperature_max             double precision         YES           None
7      apparent_temperature_min             double precision         YES           None
8     apparent_temperature_mean             double precision         YES           None
9                       sunrise  timestamp without time zone         YES           None
10                       sunset  timestamp without time zone         YES           None
11            daylight_duration             double precision         YES           None
12            sunshine_duration             double precision         YES           None
13            precipitation_sum             double precision         YES           None
14                     rain_sum             double precision         YES           None
15                 snowfall_sum             double precision         YES           None
16          precipitation_hours             double precision         YES           None
17           wind_speed_10m_max             double precision         YES           None
18           wind_gusts_10m_max             double precision         YES           None
19  wind_direction_10m_dominant             double precision         YES           None
20      shortwave_radiation_sum             double precision         YES           None
21   et0_fao_evapotranspiration             double precision         YES           None

##### Insert data

In [18]:
tag_res = \
    pg_up_file_copy(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

COPY Upload: 100%|██████████| 259292/259292 [00:08<00:00, 31634.36 rows/s]

-----------------------------------------------------------------
✅ PgSQL, COPY Protocol Insert Success
   Target      : asean_cities_weather.data1970s.tbl_daily_data
   Source      : daily_data.csv
   Stats       : 259,292 Rows | 22 Columns | 39.16 MB
   Duration    : 8.36s (0m 8s)
-----------------------------------------------------------------

#### daily_units

##### explorer object (table)

In [19]:
table_target = 'tbl_daily_units'

In [20]:
csvfile = f'{datasets_target}/daily_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 626.02chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes
None

                                    0
time                          iso8601
weather_code                 wmo code
temperature_2m_max                 °C
temperature_2m_min                 °C
temperature_2m_mean                °C
apparent_temperature_max           °C
apparent_temperature_min           °C
apparent_temperature_mean          °C
sunrise                       iso8601
sunset                        iso8601
daylight_duration                   s
sunshine_duration                   s
precipitation_sum                  mm
rain_sum                           mm
snowfall_sum                       cm
precipitation_hours                 h
wind_speed_10m_max               km/h
wind_gusts_10m_max               km/h
wind_direction_10m_dominant         °
shortwave_radiation_sum         MJ/m²
et0_fao_evapotranspiration         mm

##### Create schema object (table)

In [21]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:47:05 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.12s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [22]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 21 rows [00:00, 21071.86 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 21 Rows | 4 Columns | 4.89 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name          data_type is_nullable column_default
0                          time  character varying         YES           None
1                  weather_code  character varying         YES           None
2            temperature_2m_max  character varying         YES           None
3            temperature_2m_min  character varying         YES           None
4           temperature_2m_mean  character varying         YES           None
5      apparent_temperature_max  character varying         YES           None
6      apparent_temperature_min  character varying         YES           None
7     apparent_temperature_mean  character varying         YES           None
8                       sunrise  character varying         YES           None
9                        sunset  character varying         YES           None
10            daylight_duration  character varying         YES           None
11            sunshine_duration  character varying         YES           None
12            precipitation_sum  character varying         YES           None
13                     rain_sum  character varying         YES           None
14                 snowfall_sum  character varying         YES           None
15          precipitation_hours  character varying         YES           None
16           wind_speed_10m_max  character varying         YES           None
17           wind_gusts_10m_max  character varying         YES           None
18  wind_direction_10m_dominant  character varying         YES           None
19      shortwave_radiation_sum  character varying         YES           None
20   et0_fao_evapotranspiration  character varying         YES           None

##### Insert data

In [23]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00,  3.67rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1970s.tbl_daily_units
   Source      : daily_units.csv
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.28s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

##### explorer object (table)

In [24]:
table_target = 'tbl_hourly_data'

In [25]:
csvfile = f'{datasets_target}/hourly_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000,method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB
None

                                                  804                  764
city_name                                        Bago                 Bago
datetime                          1970-02-03 12:00:00  1970-02-01 20:00:00
temperature_2m                                   27.3                 19.6
relative_humidity_2m                             42.0                 91.0
dew_point_2m                                     13.2                 18.1
apparent_temperature                             27.0                 21.8
precipitation                                     0.0                  0.0
rain                                              0.0                  0.0
snowfall                                          0.0                  0.0
snow_depth                                        0.0                  0.0
weather_code                                      3.0                  0.0
pressure_msl                                   1010.8               1011.5
surface_pressure                               1009.4               1010.1
cloud_cover                                     100.0                  0.0
cloud_cover_low                                   0.0                  0.0
cloud_cover_mid                                   0.0                  0.0
cloud_cover_high                                100.0                  0.0
et0_fao_evapotranspiration                       0.11                  0.0
vapour_pressure_deficit                          2.12                  0.2
wind_speed_10m                                    9.2                  5.4
wind_speed_100m                                  20.5                 15.8
wind_direction_10m                              169.0                233.0
wind_direction_100m                             169.0                235.0
wind_gusts_10m                                   16.2                 10.1
soil_temperature_0_to_7cm                        30.0                 22.4
soil_temperature_7_to_28cm                       27.9                 26.5
soil_temperature_28_to_100cm                     26.7                 26.7
soil_temperature_100_to_255cm                    26.9                 26.9
soil_moisture_0_to_7cm                          0.172                0.172
soil_moisture_7_to_28cm                         0.195                0.195
soil_moisture_28_to_100cm                        0.24                0.242
soil_moisture_100_to_255cm                      0.382                0.383
shortwave_radiation                              12.0                  0.0
direct_radiation                                  4.0                  0.0
diffuse_radiation                                 8.0                  0.0
direct_normal_irradiance                         45.1                  0.0
global_tilted_irradiance                         12.0                  0.0
terrestrial_radiation                            63.8                  0.0
shortwave_radiation_instant                       0.0                  0.0
direct_radiation_instant                          0.0                  0.0
diffuse_radiation_instant                         0.0                  0.0
direct_normal_irradiance_instant                  0.0                  0.0
global_tilted_irradiance_instant                  0.0                  0.0
terrestrial_radiation_instant                     0.0                  0.0

##### Create schema object (table)

In [26]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:47:07 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.04s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [27]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 44 rows [00:00, 17239.55 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 44 Rows | 4 Columns | 10.15 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name                    data_type is_nullable column_default
0                          city_name            character varying          NO           None
1                           datetime  timestamp without time zone          NO           None
2                     temperature_2m             double precision         YES           None
3               relative_humidity_2m             double precision         YES           None
4                       dew_point_2m             double precision         YES           None
5               apparent_temperature             double precision         YES           None
6                       pressure_msl             double precision         YES           None
7                   surface_pressure             double precision         YES           None
8            vapour_pressure_deficit             double precision         YES           None
9                      precipitation             double precision         YES           None
10                              rain             double precision         YES           None
11                          snowfall             double precision         YES           None
12                        snow_depth             double precision         YES           None
13                      weather_code             double precision         YES           None
14                       cloud_cover             double precision         YES           None
15                   cloud_cover_low             double precision         YES           None
16                   cloud_cover_mid             double precision         YES           None
17                  cloud_cover_high             double precision         YES           None
18        et0_fao_evapotranspiration             double precision         YES           None
19                    wind_speed_10m             double precision         YES           None
20                   wind_speed_100m             double precision         YES           None
21                wind_direction_10m             double precision         YES           None
22               wind_direction_100m             double precision         YES           None
23                    wind_gusts_10m             double precision         YES           None
24         soil_temperature_0_to_7cm             double precision         YES           None
25        soil_temperature_7_to_28cm             double precision         YES           None
26      soil_temperature_28_to_100cm             double precision         YES           None
27     soil_temperature_100_to_255cm             double precision         YES           None
28            soil_moisture_0_to_7cm             double precision         YES           None
29           soil_moisture_7_to_28cm             double precision         YES           None
30         soil_moisture_28_to_100cm             double precision         YES           None
31        soil_moisture_100_to_255cm             double precision         YES           None
32               shortwave_radiation             double precision         YES           None
33                  direct_radiation             double precision         YES           None
34                 diffuse_radiation             double precision         YES           None
35          direct_normal_irradiance             double precision         YES           None
36          global_tilted_irradiance             double precision         YES           None
37             terrestrial_radiation             double precision         YES           None
38       shortwave_radiation_instant             double precision         YES           None
39          direct_radiation_instant             double precision         YES           None
40         diffuse_radiation_instant             double precision         YES           None
41  direct_normal_irradiance_instant             double precision         YES           None
42  global_tilted_irradiance_instant             double precision         YES           None
43     terrestrial_radiation_instant             double precision         YES           None

##### Insert data

In [28]:
tag_res = \
    pg_up_csv_pdstream(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        low_memory=False,
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Stream Upload: 100%|██████████| 1.42G/1.42G [05:38<00:00, 4.50MB/s]

-----------------------------------------------------------------
✅ PgSQL, BigData Stream Insert Success
   Target      : asean_cities_weather.data1970s.tbl_hourly_data
   Source      : hourly_data.csv
   Stats       : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration    : 338.83s (5m 38s)
-----------------------------------------------------------------

#### hourly_units

##### explorer object (table)

In [29]:
table_target = 'tbl_hourly_units'

In [30]:
csvfile = f'{datasets_target}/hourly_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=20)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 20 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 333.04chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes
None

                                         0
time                               iso8601
temperature_2m                          °C
relative_humidity_2m                     %
dew_point_2m                            °C
apparent_temperature                    °C
precipitation                           mm
rain                                    mm
snowfall                                cm
snow_depth                               m
weather_code                      wmo code
pressure_msl                           hPa
surface_pressure                       hPa
cloud_cover                              %
cloud_cover_low                          %
cloud_cover_mid                          %
cloud_cover_high                         %
et0_fao_evapotranspiration              mm
vapour_pressure_deficit                kPa
wind_speed_10m                        km/h
wind_speed_100m                       km/h
wind_direction_10m                       °
wind_direction_100m                      °
wind_gusts_10m                        km/h
soil_temperature_0_to_7cm               °C
soil_temperature_7_to_28cm              °C
soil_temperature_28_to_100cm            °C
soil_temperature_100_to_255cm           °C
soil_moisture_0_to_7cm               m³/m³
soil_moisture_7_to_28cm              m³/m³
soil_moisture_28_to_100cm            m³/m³
soil_moisture_100_to_255cm           m³/m³
shortwave_radiation                   W/m²
direct_radiation                      W/m²
diffuse_radiation                     W/m²
direct_normal_irradiance              W/m²
global_tilted_irradiance              W/m²
terrestrial_radiation                 W/m²
shortwave_radiation_instant           W/m²
direct_radiation_instant              W/m²
diffuse_radiation_instant             W/m²
direct_normal_irradiance_instant      W/m²
global_tilted_irradiance_instant      W/m²
terrestrial_radiation_instant         W/m²

##### Create schema object (table)

In [31]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:52:47 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.18s (0m 0s)
-----------------------------------------------------------------

##### Insert data

In [32]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 13.23rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1970s.tbl_hourly_units
   Source      : hourly_units.csv
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

<div style="page-break-after: always;"></div>

### ASEANCitiesWeatherData1980_1989

In [33]:
%%sql
CREATE SCHEMA IF NOT EXISTS data1980s;

Running query in 'engconn_aseancitiesweather'

++
||
++
++

In [34]:
schema_target = 'data1980s'
datasets_target = dataset1980

#### ASEAN_cities

##### explorer object (table)

In [35]:
table_target = 'tbl_asean_cities'

In [36]:
csvfile = f'{datasets_target}/ASEAN_cities.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 153.53chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     71 non-null     object
 1   city        71 non-null     object
 2   latitude    71 non-null     float64
 3   longitude   71 non-null     float64
 4   population  71 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

                 67                 6
country       Burma           Thailand
city        Pathein  Ban Talat Rangsit
latitude    16.7842            13.9833
longitude   94.7333           100.6167
population   287071              79319

##### Create schema object (table)

In [37]:
qfile = (
    f"{sqls}/"
    "pg.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:52:49 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [38]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 5 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 5 Rows | 4 Columns | 1.20 KB
   Duration    : 0.30s (0m 0s)
-----------------------------------------------------------------

  column_name          data_type is_nullable column_default
0     country  character varying          NO           None
1        city  character varying          NO           None
2    latitude   double precision         YES           None
3   longitude   double precision         YES           None
4  population            integer         YES           None

##### Insert data

In [39]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 71/71 [00:00<00:00, 773.72rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1980s.tbl_asean_cities
   Source      : ASEAN_cities.csv
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### daily_data

##### explorer object (table)

In [40]:
table_target = 'tbl_daily_data'

In [41]:
csvfile = f'{datasets_target}/daily_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000, method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    1000 non-null   object
 1   datetime                     1000 non-null   object
 2   weather_code                 1000 non-null   float64
 3   temperature_2m_max           1000 non-null   float64
 4   temperature_2m_min           1000 non-null   float64
 5   temperature_2m_mean          1000 non-null   float64
 6   apparent_temperature_max     1000 non-null   float64
 7   apparent_temperature_min     1000 non-null   float64
 8   apparent_temperature_mean    1000 non-null   float64
 9   sunrise                      1000 non-null   object
 10  sunset                       1000 non-null   object
 11  daylight_duration            1000 non-null   float64
 12  sunshine_duration            1000 non-null   float64
 13  precipitation_sum            1000 non-null   float64
 14  rain_sum                     1000 non-null   float64
 15  snowfall_sum                 1000 non-null   float64
 16  precipitation_hours          1000 non-null   float64
 17  wind_speed_10m_max           1000 non-null   float64
 18  wind_gusts_10m_max           1000 non-null   float64
 19  wind_direction_10m_dominant  1000 non-null   float64
 20  shortwave_radiation_sum      1000 non-null   float64
 21  et0_fao_evapotranspiration   1000 non-null   float64
dtypes: float64(18), object(4)
memory usage: 172.0+ KB
None

                                          254               617
city_name                                Bago              Bago
datetime                           1980-09-11        1981-09-09
weather_code                             63.0              63.0
temperature_2m_max                       29.6              30.3
temperature_2m_min                       23.7              23.3
temperature_2m_mean                      25.7              26.1
apparent_temperature_max                 36.5              36.7
apparent_temperature_min                 29.0              28.2
apparent_temperature_mean                31.2              31.7
sunrise                      1980-09-10T23:21  1981-09-08T23:21
sunset                       1980-09-11T11:39  1981-09-09T11:41
daylight_duration                    44279.21          44407.48
sunshine_duration                    26963.28          30460.89
precipitation_sum                        15.5              12.0
rain_sum                                 15.5              12.0
snowfall_sum                              0.0               0.0
precipitation_hours                      21.0              12.0
wind_speed_10m_max                        9.1               7.8
wind_gusts_10m_max                       25.6              19.4
wind_direction_10m_dominant             183.0             170.0
shortwave_radiation_sum                 13.75             17.16
et0_fao_evapotranspiration               2.79               3.5

##### Create schema object (table)

In [42]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:52:51 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.04s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [43]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 22 rows [00:00, 14413.42 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 22 Rows | 4 Columns | 5.10 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name                    data_type is_nullable column_default
0                     city_name            character varying          NO           None
1                      datetime                         date          NO           None
2                  weather_code             double precision         YES           None
3            temperature_2m_max             double precision         YES           None
4            temperature_2m_min             double precision         YES           None
5           temperature_2m_mean             double precision         YES           None
6      apparent_temperature_max             double precision         YES           None
7      apparent_temperature_min             double precision         YES           None
8     apparent_temperature_mean             double precision         YES           None
9                       sunrise  timestamp without time zone         YES           None
10                       sunset  timestamp without time zone         YES           None
11            daylight_duration             double precision         YES           None
12            sunshine_duration             double precision         YES           None
13            precipitation_sum             double precision         YES           None
14                     rain_sum             double precision         YES           None
15                 snowfall_sum             double precision         YES           None
16          precipitation_hours             double precision         YES           None
17           wind_speed_10m_max             double precision         YES           None
18           wind_gusts_10m_max             double precision         YES           None
19  wind_direction_10m_dominant             double precision         YES           None
20      shortwave_radiation_sum             double precision         YES           None
21   et0_fao_evapotranspiration             double precision         YES           None

##### Insert data

In [44]:
tag_res = \
    pg_up_file_copy(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

COPY Upload: 100%|██████████| 259363/259363 [00:05<00:00, 45294.47 rows/s]

-----------------------------------------------------------------
✅ PgSQL, COPY Protocol Insert Success
   Target      : asean_cities_weather.data1980s.tbl_daily_data
   Source      : daily_data.csv
   Stats       : 259,363 Rows | 22 Columns | 39.14 MB
   Duration    : 5.77s (0m 5s)
-----------------------------------------------------------------

#### daily_units

##### explorer object (table)

In [45]:
table_target = 'tbl_daily_units'

In [46]:
csvfile = f'{datasets_target}/daily_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 398.21chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes
None

                                    0
time                          iso8601
weather_code                 wmo code
temperature_2m_max                 °C
temperature_2m_min                 °C
temperature_2m_mean                °C
apparent_temperature_max           °C
apparent_temperature_min           °C
apparent_temperature_mean          °C
sunrise                       iso8601
sunset                        iso8601
daylight_duration                   s
sunshine_duration                   s
precipitation_sum                  mm
rain_sum                           mm
snowfall_sum                       cm
precipitation_hours                 h
wind_speed_10m_max               km/h
wind_gusts_10m_max               km/h
wind_direction_10m_dominant         °
shortwave_radiation_sum         MJ/m²
et0_fao_evapotranspiration         mm

##### Create schema object (table)

In [47]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:52:58 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [48]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 21 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 21 Rows | 4 Columns | 4.89 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name          data_type is_nullable column_default
0                          time  character varying         YES           None
1                  weather_code  character varying         YES           None
2            temperature_2m_max  character varying         YES           None
3            temperature_2m_min  character varying         YES           None
4           temperature_2m_mean  character varying         YES           None
5      apparent_temperature_max  character varying         YES           None
6      apparent_temperature_min  character varying         YES           None
7     apparent_temperature_mean  character varying         YES           None
8                       sunrise  character varying         YES           None
9                        sunset  character varying         YES           None
10            daylight_duration  character varying         YES           None
11            sunshine_duration  character varying         YES           None
12            precipitation_sum  character varying         YES           None
13                     rain_sum  character varying         YES           None
14                 snowfall_sum  character varying         YES           None
15          precipitation_hours  character varying         YES           None
16           wind_speed_10m_max  character varying         YES           None
17           wind_gusts_10m_max  character varying         YES           None
18  wind_direction_10m_dominant  character varying         YES           None
19      shortwave_radiation_sum  character varying         YES           None
20   et0_fao_evapotranspiration  character varying         YES           None

##### Insert data

In [49]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 12.32rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1980s.tbl_daily_units
   Source      : daily_units.csv
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.09s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

##### explorer object (table)

In [50]:
table_target = 'tbl_hourly_data'

In [51]:
csvfile = f'{datasets_target}/hourly_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000,method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB
None

                                                  940                  520
city_name                                        Bago                 Bago
datetime                          1980-02-09 04:00:00  1980-01-22 16:00:00
temperature_2m                                   27.2                 21.1
relative_humidity_2m                             38.0                 77.0
dew_point_2m                                     11.7                 17.0
apparent_temperature                             28.1                 22.6
precipitation                                     0.0                  0.0
rain                                              0.0                  0.0
snowfall                                          0.0                  0.0
snow_depth                                        0.0                  0.0
weather_code                                      0.0                  0.0
pressure_msl                                   1014.7               1011.8
surface_pressure                               1013.3               1010.4
cloud_cover                                       0.0                  0.0
cloud_cover_low                                   0.0                  0.0
cloud_cover_mid                                   0.0                  0.0
cloud_cover_high                                  0.0                  0.0
et0_fao_evapotranspiration                       0.49                 0.01
vapour_pressure_deficit                          2.24                 0.56
wind_speed_10m                                    4.3                  6.4
wind_speed_100m                                   5.4                 13.3
wind_direction_10m                              132.0                232.0
wind_direction_100m                             132.0                218.0
wind_gusts_10m                                   18.4                 11.2
soil_temperature_0_to_7cm                        28.8                 24.1
soil_temperature_7_to_28cm                       25.6                 27.0
soil_temperature_28_to_100cm                     26.5                 26.3
soil_temperature_100_to_255cm                    27.0                 27.2
soil_moisture_0_to_7cm                          0.172                0.172
soil_moisture_7_to_28cm                         0.194                0.195
soil_moisture_28_to_100cm                       0.232                0.242
soil_moisture_100_to_255cm                      0.377                0.386
shortwave_radiation                             705.0                  0.0
direct_radiation                                584.0                  0.0
diffuse_radiation                               121.0                  0.0
direct_normal_irradiance                        857.8                  0.0
global_tilted_irradiance                        705.0                  0.0
terrestrial_radiation                           957.1                  0.0
shortwave_radiation_instant                     771.2                  0.0
direct_radiation_instant                        638.8                  0.0
diffuse_radiation_instant                       132.4                  0.0
direct_normal_irradiance_instant                938.4                  0.0
global_tilted_irradiance_instant                771.2                  0.0
terrestrial_radiation_instant                  1047.0                  0.0

##### Create schema object (table)

In [52]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:53:00 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [53]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 44 rows [00:00, 43804.74 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 44 Rows | 4 Columns | 10.15 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name                    data_type is_nullable column_default
0                          city_name            character varying          NO           None
1                           datetime  timestamp without time zone          NO           None
2                     temperature_2m             double precision         YES           None
3               relative_humidity_2m             double precision         YES           None
4                       dew_point_2m             double precision         YES           None
5               apparent_temperature             double precision         YES           None
6                       pressure_msl             double precision         YES           None
7                   surface_pressure             double precision         YES           None
8            vapour_pressure_deficit             double precision         YES           None
9                      precipitation             double precision         YES           None
10                              rain             double precision         YES           None
11                          snowfall             double precision         YES           None
12                        snow_depth             double precision         YES           None
13                      weather_code             double precision         YES           None
14                       cloud_cover             double precision         YES           None
15                   cloud_cover_low             double precision         YES           None
16                   cloud_cover_mid             double precision         YES           None
17                  cloud_cover_high             double precision         YES           None
18        et0_fao_evapotranspiration             double precision         YES           None
19                    wind_speed_10m             double precision         YES           None
20                   wind_speed_100m             double precision         YES           None
21                wind_direction_10m             double precision         YES           None
22               wind_direction_100m             double precision         YES           None
23                    wind_gusts_10m             double precision         YES           None
24         soil_temperature_0_to_7cm             double precision         YES           None
25        soil_temperature_7_to_28cm             double precision         YES           None
26      soil_temperature_28_to_100cm             double precision         YES           None
27     soil_temperature_100_to_255cm             double precision         YES           None
28            soil_moisture_0_to_7cm             double precision         YES           None
29           soil_moisture_7_to_28cm             double precision         YES           None
30         soil_moisture_28_to_100cm             double precision         YES           None
31        soil_moisture_100_to_255cm             double precision         YES           None
32               shortwave_radiation             double precision         YES           None
33                  direct_radiation             double precision         YES           None
34                 diffuse_radiation             double precision         YES           None
35          direct_normal_irradiance             double precision         YES           None
36          global_tilted_irradiance             double precision         YES           None
37             terrestrial_radiation             double precision         YES           None
38       shortwave_radiation_instant             double precision         YES           None
39          direct_radiation_instant             double precision         YES           None
40         diffuse_radiation_instant             double precision         YES           None
41  direct_normal_irradiance_instant             double precision         YES           None
42  global_tilted_irradiance_instant             double precision         YES           None
43     terrestrial_radiation_instant             double precision         YES           None

##### Insert data

In [54]:
tag_res = \
    pg_up_csv_pdstream(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        low_memory=False,
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Stream Upload: 100%|██████████| 1.42G/1.42G [05:51<00:00, 4.33MB/s]

-----------------------------------------------------------------
✅ PgSQL, BigData Stream Insert Success
   Target      : asean_cities_weather.data1980s.tbl_hourly_data
   Source      : hourly_data.csv
   Stats       : 6,224,712 Rows | 44 Columns | 1.42 GB
   Duration    : 352.08s (5m 52s)
-----------------------------------------------------------------

#### hourly_units

##### explorer object (table)

In [55]:
table_target = 'tbl_hourly_units'

In [56]:
csvfile = f'{datasets_target}/hourly_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=20)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 20 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 333.46chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes
None

                                         0
time                               iso8601
temperature_2m                          °C
relative_humidity_2m                     %
dew_point_2m                            °C
apparent_temperature                    °C
precipitation                           mm
rain                                    mm
snowfall                                cm
snow_depth                               m
weather_code                      wmo code
pressure_msl                           hPa
surface_pressure                       hPa
cloud_cover                              %
cloud_cover_low                          %
cloud_cover_mid                          %
cloud_cover_high                         %
et0_fao_evapotranspiration              mm
vapour_pressure_deficit                kPa
wind_speed_10m                        km/h
wind_speed_100m                       km/h
wind_direction_10m                       °
wind_direction_100m                      °
wind_gusts_10m                        km/h
soil_temperature_0_to_7cm               °C
soil_temperature_7_to_28cm              °C
soil_temperature_28_to_100cm            °C
soil_temperature_100_to_255cm           °C
soil_moisture_0_to_7cm               m³/m³
soil_moisture_7_to_28cm              m³/m³
soil_moisture_28_to_100cm            m³/m³
soil_moisture_100_to_255cm           m³/m³
shortwave_radiation                   W/m²
direct_radiation                      W/m²
diffuse_radiation                     W/m²
direct_normal_irradiance              W/m²
global_tilted_irradiance              W/m²
terrestrial_radiation                 W/m²
shortwave_radiation_instant           W/m²
direct_radiation_instant              W/m²
diffuse_radiation_instant             W/m²
direct_normal_irradiance_instant      W/m²
global_tilted_irradiance_instant      W/m²
terrestrial_radiation_instant         W/m²

##### Create schema object (table)

In [57]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:58:53 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

##### Insert data

In [58]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 19.90rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1980s.tbl_hourly_units
   Source      : hourly_units.csv
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.06s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData1990_1999

In [59]:
%%sql
CREATE SCHEMA IF NOT EXISTS data1990s;

Running query in 'engconn_aseancitiesweather'

++
||
++
++

In [60]:
schema_target = 'data1990s'
datasets_target = dataset1990

#### ASEAN_cities

##### explorer object (table)

In [61]:
table_target = 'tbl_asean_cities'

In [62]:
csvfile = f'{datasets_target}/ASEAN_cities.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 142.67chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     71 non-null     object
 1   city        71 non-null     object
 2   latitude    71 non-null     float64
 3   longitude   71 non-null     float64
 4   population  71 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

                  45        3
country      Vietnam  Thailand
city         Thủ Đức  Pak Kret
latitude     10.8266   13.9125
longitude   106.7609  100.4978
population   1013795    184501

##### Create schema object (table)

In [63]:
qfile = (
    f"{sqls}/"
    "pg.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:58:54 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [64]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 5 rows [00:00, 3278.34 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 5 Rows | 4 Columns | 1.20 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name          data_type is_nullable column_default
0     country  character varying          NO           None
1        city  character varying          NO           None
2    latitude   double precision         YES           None
3   longitude   double precision         YES           None
4  population            integer         YES           None

##### Insert data

In [65]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 71/71 [00:00<00:00, 559.44rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1990s.tbl_asean_cities
   Source      : ASEAN_cities.csv
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

#### daily_data

##### explorer object (table)

In [66]:
table_target = 'tbl_daily_data'

In [67]:
csvfile = f'{datasets_target}/daily_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000, method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    1000 non-null   object
 1   datetime                     1000 non-null   object
 2   weather_code                 1000 non-null   float64
 3   temperature_2m_max           1000 non-null   float64
 4   temperature_2m_min           1000 non-null   float64
 5   temperature_2m_mean          1000 non-null   float64
 6   apparent_temperature_max     1000 non-null   float64
 7   apparent_temperature_min     1000 non-null   float64
 8   apparent_temperature_mean    1000 non-null   float64
 9   sunrise                      1000 non-null   object
 10  sunset                       1000 non-null   object
 11  daylight_duration            1000 non-null   float64
 12  sunshine_duration            1000 non-null   float64
 13  precipitation_sum            1000 non-null   float64
 14  rain_sum                     1000 non-null   float64
 15  snowfall_sum                 1000 non-null   float64
 16  precipitation_hours          1000 non-null   float64
 17  wind_speed_10m_max           1000 non-null   float64
 18  wind_gusts_10m_max           1000 non-null   float64
 19  wind_direction_10m_dominant  1000 non-null   float64
 20  shortwave_radiation_sum      1000 non-null   float64
 21  et0_fao_evapotranspiration   1000 non-null   float64
dtypes: float64(18), object(4)
memory usage: 172.0+ KB
None

                                          349               245
city_name                                Bago              Bago
datetime                           1990-12-16        1990-09-03
weather_code                              3.0              63.0
temperature_2m_max                       31.5              29.8
temperature_2m_min                       19.9              23.5
temperature_2m_mean                      24.9              25.8
apparent_temperature_max                 34.2              36.9
apparent_temperature_min                 21.7              28.5
apparent_temperature_mean                27.7              31.2
sunrise                      1990-12-15T23:56  1990-09-02T23:20
sunset                       1990-12-16T11:02  1990-09-03T11:46
daylight_duration                    39949.92           44758.0
sunshine_duration                    37187.26          33213.53
precipitation_sum                         0.0              13.2
rain_sum                                  0.0              13.2
snowfall_sum                              0.0               0.0
precipitation_hours                       0.0              16.0
wind_speed_10m_max                        9.5               9.5
wind_gusts_10m_max                       20.9              28.4
wind_direction_10m_dominant              23.0             173.0
shortwave_radiation_sum                 18.16              13.8
et0_fao_evapotranspiration               3.72              2.82

##### Create schema object (table)

In [68]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:58:56 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.05s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [69]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 22 rows [00:00, 21876.41 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 22 Rows | 4 Columns | 5.10 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name                    data_type is_nullable column_default
0                     city_name            character varying          NO           None
1                      datetime                         date          NO           None
2                  weather_code             double precision         YES           None
3            temperature_2m_max             double precision         YES           None
4            temperature_2m_min             double precision         YES           None
5           temperature_2m_mean             double precision         YES           None
6      apparent_temperature_max             double precision         YES           None
7      apparent_temperature_min             double precision         YES           None
8     apparent_temperature_mean             double precision         YES           None
9                       sunrise  timestamp without time zone         YES           None
10                       sunset  timestamp without time zone         YES           None
11            daylight_duration             double precision         YES           None
12            sunshine_duration             double precision         YES           None
13            precipitation_sum             double precision         YES           None
14                     rain_sum             double precision         YES           None
15                 snowfall_sum             double precision         YES           None
16          precipitation_hours             double precision         YES           None
17           wind_speed_10m_max             double precision         YES           None
18           wind_gusts_10m_max             double precision         YES           None
19  wind_direction_10m_dominant             double precision         YES           None
20      shortwave_radiation_sum             double precision         YES           None
21   et0_fao_evapotranspiration             double precision         YES           None

##### Insert data

In [70]:
tag_res = \
    pg_up_file_copy(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

COPY Upload: 100%|██████████| 259292/259292 [00:05<00:00, 43831.04 rows/s]

-----------------------------------------------------------------
✅ PgSQL, COPY Protocol Insert Success
   Target      : asean_cities_weather.data1990s.tbl_daily_data
   Source      : daily_data.csv
   Stats       : 259,292 Rows | 22 Columns | 39.13 MB
   Duration    : 6.07s (0m 6s)
-----------------------------------------------------------------

#### daily_units

##### explorer object (table)

In [71]:
table_target = 'tbl_daily_units'

In [72]:
csvfile = f'{datasets_target}/daily_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 321.11chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes
None

                                    0
time                          iso8601
weather_code                 wmo code
temperature_2m_max                 °C
temperature_2m_min                 °C
temperature_2m_mean                °C
apparent_temperature_max           °C
apparent_temperature_min           °C
apparent_temperature_mean          °C
sunrise                       iso8601
sunset                        iso8601
daylight_duration                   s
sunshine_duration                   s
precipitation_sum                  mm
rain_sum                           mm
snowfall_sum                       cm
precipitation_hours                 h
wind_speed_10m_max               km/h
wind_gusts_10m_max               km/h
wind_direction_10m_dominant         °
shortwave_radiation_sum         MJ/m²
et0_fao_evapotranspiration         mm

##### Create schema object (table)

In [73]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:59:04 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [74]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 21 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 21 Rows | 4 Columns | 4.89 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name          data_type is_nullable column_default
0                          time  character varying         YES           None
1                  weather_code  character varying         YES           None
2            temperature_2m_max  character varying         YES           None
3            temperature_2m_min  character varying         YES           None
4           temperature_2m_mean  character varying         YES           None
5      apparent_temperature_max  character varying         YES           None
6      apparent_temperature_min  character varying         YES           None
7     apparent_temperature_mean  character varying         YES           None
8                       sunrise  character varying         YES           None
9                        sunset  character varying         YES           None
10            daylight_duration  character varying         YES           None
11            sunshine_duration  character varying         YES           None
12            precipitation_sum  character varying         YES           None
13                     rain_sum  character varying         YES           None
14                 snowfall_sum  character varying         YES           None
15          precipitation_hours  character varying         YES           None
16           wind_speed_10m_max  character varying         YES           None
17           wind_gusts_10m_max  character varying         YES           None
18  wind_direction_10m_dominant  character varying         YES           None
19      shortwave_radiation_sum  character varying         YES           None
20   et0_fao_evapotranspiration  character varying         YES           None

##### Insert data

In [75]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 14.06rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1990s.tbl_daily_units
   Source      : daily_units.csv
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

##### explorer object (table)

In [76]:
table_target = 'tbl_hourly_data'

In [77]:
csvfile = f'{datasets_target}/hourly_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000,method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB
None

                                                  943                  78
city_name                                        Bago                 Bago
datetime                          1990-02-09 07:00:00  1990-01-04 06:00:00
temperature_2m                                   34.4                 30.6
relative_humidity_2m                             30.0                 38.0
dew_point_2m                                     14.1                 14.7
apparent_temperature                             37.7                 33.4
precipitation                                     0.0                  0.0
rain                                              0.0                  0.0
snowfall                                          0.0                  0.0
snow_depth                                        0.0                  0.0
weather_code                                      0.0                  0.0
pressure_msl                                   1012.1               1013.4
surface_pressure                               1010.8               1012.0
cloud_cover                                       0.0                  4.0
cloud_cover_low                                   0.0                  4.0
cloud_cover_mid                                   0.0                  2.0
cloud_cover_high                                  0.0                  0.0
et0_fao_evapotranspiration                       0.64                 0.55
vapour_pressure_deficit                          3.82                 2.71
wind_speed_10m                                    0.8                  1.5
wind_speed_100m                                   0.8                  1.8
wind_direction_10m                              117.0                104.0
wind_direction_100m                             117.0                101.0
wind_gusts_10m                                   14.8                 14.0
soil_temperature_0_to_7cm                        37.1                 31.7
soil_temperature_7_to_28cm                       28.2                 24.7
soil_temperature_28_to_100cm                     26.7                 25.2
soil_temperature_100_to_255cm                    26.2                 26.4
soil_moisture_0_to_7cm                          0.172                0.175
soil_moisture_7_to_28cm                         0.195                0.208
soil_moisture_28_to_100cm                       0.242                0.277
soil_moisture_100_to_255cm                      0.385                0.406
shortwave_radiation                             859.0                764.0
direct_radiation                                726.0                624.0
diffuse_radiation                               133.0                140.0
direct_normal_irradiance                        875.2                818.7
global_tilted_irradiance                        859.0                764.0
terrestrial_radiation                          1166.0               1078.2
shortwave_radiation_instant                     831.0                763.4
direct_radiation_instant                        702.3                623.5
diffuse_radiation_instant                       128.7                139.9
direct_normal_irradiance_instant                846.6                818.0
global_tilted_irradiance_instant                831.0                763.4
terrestrial_radiation_instant                  1128.0               1077.4

##### Create schema object (table)

In [78]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
12:59:05 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.18s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [79]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 44 rows [00:00, 28777.39 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 44 Rows | 4 Columns | 10.15 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name                    data_type is_nullable column_default
0                          city_name            character varying          NO           None
1                           datetime  timestamp without time zone          NO           None
2                     temperature_2m             double precision         YES           None
3               relative_humidity_2m             double precision         YES           None
4                       dew_point_2m             double precision         YES           None
5               apparent_temperature             double precision         YES           None
6                       pressure_msl             double precision         YES           None
7                   surface_pressure             double precision         YES           None
8            vapour_pressure_deficit             double precision         YES           None
9                      precipitation             double precision         YES           None
10                              rain             double precision         YES           None
11                          snowfall             double precision         YES           None
12                        snow_depth             double precision         YES           None
13                      weather_code             double precision         YES           None
14                       cloud_cover             double precision         YES           None
15                   cloud_cover_low             double precision         YES           None
16                   cloud_cover_mid             double precision         YES           None
17                  cloud_cover_high             double precision         YES           None
18        et0_fao_evapotranspiration             double precision         YES           None
19                    wind_speed_10m             double precision         YES           None
20                   wind_speed_100m             double precision         YES           None
21                wind_direction_10m             double precision         YES           None
22               wind_direction_100m             double precision         YES           None
23                    wind_gusts_10m             double precision         YES           None
24         soil_temperature_0_to_7cm             double precision         YES           None
25        soil_temperature_7_to_28cm             double precision         YES           None
26      soil_temperature_28_to_100cm             double precision         YES           None
27     soil_temperature_100_to_255cm             double precision         YES           None
28            soil_moisture_0_to_7cm             double precision         YES           None
29           soil_moisture_7_to_28cm             double precision         YES           None
30         soil_moisture_28_to_100cm             double precision         YES           None
31        soil_moisture_100_to_255cm             double precision         YES           None
32               shortwave_radiation             double precision         YES           None
33                  direct_radiation             double precision         YES           None
34                 diffuse_radiation             double precision         YES           None
35          direct_normal_irradiance             double precision         YES           None
36          global_tilted_irradiance             double precision         YES           None
37             terrestrial_radiation             double precision         YES           None
38       shortwave_radiation_instant             double precision         YES           None
39          direct_radiation_instant             double precision         YES           None
40         diffuse_radiation_instant             double precision         YES           None
41  direct_normal_irradiance_instant             double precision         YES           None
42  global_tilted_irradiance_instant             double precision         YES           None
43     terrestrial_radiation_instant             double precision         YES           None

##### Insert data

In [80]:
tag_res = \
    pg_up_csv_pdstream(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        low_memory=False,
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Stream Upload: 100%|██████████| 1.42G/1.42G [06:12<00:00, 4.09MB/s]

-----------------------------------------------------------------
✅ PgSQL, BigData Stream Insert Success
   Target      : asean_cities_weather.data1990s.tbl_hourly_data
   Source      : hourly_data.csv
   Stats       : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration    : 372.34s (6m 12s)
-----------------------------------------------------------------

#### hourly_units

##### explorer object (table)

In [81]:
table_target = 'tbl_hourly_units'

In [82]:
csvfile = f'{datasets_target}/hourly_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=20)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 20 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 199.62chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes
None

                                         0
time                               iso8601
temperature_2m                          °C
relative_humidity_2m                     %
dew_point_2m                            °C
apparent_temperature                    °C
precipitation                           mm
rain                                    mm
snowfall                                cm
snow_depth                               m
weather_code                      wmo code
pressure_msl                           hPa
surface_pressure                       hPa
cloud_cover                              %
cloud_cover_low                          %
cloud_cover_mid                          %
cloud_cover_high                         %
et0_fao_evapotranspiration              mm
vapour_pressure_deficit                kPa
wind_speed_10m                        km/h
wind_speed_100m                       km/h
wind_direction_10m                       °
wind_direction_100m                      °
wind_gusts_10m                        km/h
soil_temperature_0_to_7cm               °C
soil_temperature_7_to_28cm              °C
soil_temperature_28_to_100cm            °C
soil_temperature_100_to_255cm           °C
soil_moisture_0_to_7cm               m³/m³
soil_moisture_7_to_28cm              m³/m³
soil_moisture_28_to_100cm            m³/m³
soil_moisture_100_to_255cm           m³/m³
shortwave_radiation                   W/m²
direct_radiation                      W/m²
diffuse_radiation                     W/m²
direct_normal_irradiance              W/m²
global_tilted_irradiance              W/m²
terrestrial_radiation                 W/m²
shortwave_radiation_instant           W/m²
direct_radiation_instant              W/m²
diffuse_radiation_instant             W/m²
direct_normal_irradiance_instant      W/m²
global_tilted_irradiance_instant      W/m²
terrestrial_radiation_instant         W/m²

##### Create schema object (table)

In [83]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:05:19 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.14s (0m 0s)
-----------------------------------------------------------------

##### Insert data

In [84]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 14.72rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data1990s.tbl_hourly_units
   Source      : hourly_units.csv
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData2000_2009

In [85]:
%%sql
CREATE SCHEMA IF NOT EXISTS data2000s;

Running query in 'engconn_aseancitiesweather'

++
||
++
++

In [86]:
schema_target = 'data2000s'
datasets_target = dataset2000

#### ASEAN_cities

##### explorer object (table)

In [87]:
table_target = 'tbl_asean_cities'

In [88]:
csvfile = f'{datasets_target}/ASEAN_cities.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 249.97chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     71 non-null     object
 1   city        71 non-null     object
 2   latitude    71 non-null     float64
 3   longitude   71 non-null     float64
 4   population  71 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

                  23        45
country     Malaysia   Vietnam
city            Ipoh   Thủ Đức
latitude      4.5972   10.8266
longitude    101.075  106.7609
population    866772   1013795

##### Create schema object (table)

In [89]:
qfile = (
    f"{sqls}/"
    "pg.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:05:21 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [90]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 5 rows [00:00, 4817.72 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 5 Rows | 4 Columns | 1.20 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name          data_type is_nullable column_default
0     country  character varying          NO           None
1        city  character varying          NO           None
2    latitude   double precision         YES           None
3   longitude   double precision         YES           None
4  population            integer         YES           None

##### Insert data

In [91]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 71/71 [00:00<00:00, 416.83rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2000s.tbl_asean_cities
   Source      : ASEAN_cities.csv
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.18s (0m 0s)
-----------------------------------------------------------------

#### daily_data

##### explorer object (table)

In [92]:
table_target = 'tbl_daily_data'

In [93]:
csvfile = f'{datasets_target}/daily_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000, method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    1000 non-null   object
 1   datetime                     1000 non-null   object
 2   weather_code                 1000 non-null   float64
 3   temperature_2m_max           1000 non-null   float64
 4   temperature_2m_min           1000 non-null   float64
 5   temperature_2m_mean          1000 non-null   float64
 6   apparent_temperature_max     1000 non-null   float64
 7   apparent_temperature_min     1000 non-null   float64
 8   apparent_temperature_mean    1000 non-null   float64
 9   sunrise                      1000 non-null   object
 10  sunset                       1000 non-null   object
 11  daylight_duration            1000 non-null   float64
 12  sunshine_duration            1000 non-null   float64
 13  precipitation_sum            1000 non-null   float64
 14  rain_sum                     1000 non-null   float64
 15  snowfall_sum                 1000 non-null   float64
 16  precipitation_hours          1000 non-null   float64
 17  wind_speed_10m_max           1000 non-null   float64
 18  wind_gusts_10m_max           1000 non-null   float64
 19  wind_direction_10m_dominant  1000 non-null   float64
 20  shortwave_radiation_sum      1000 non-null   float64
 21  et0_fao_evapotranspiration   1000 non-null   float64
dtypes: float64(18), object(4)
memory usage: 172.0+ KB
None

                                          451               667
city_name                                Bago              Bago
datetime                           2001-03-27        2001-10-29
weather_code                              3.0              63.0
temperature_2m_max                       36.2              29.6
temperature_2m_min                       23.7              23.6
temperature_2m_mean                      29.7              25.9
apparent_temperature_max                 39.7              34.8
apparent_temperature_min                 27.5              29.0
apparent_temperature_mean                32.2              31.4
sunrise                      2001-03-26T23:32  2001-10-28T23:31
sunset                       2001-03-27T11:46  2001-10-29T11:04
daylight_duration                     44030.3          41559.96
sunshine_duration                    40055.35          25361.61
precipitation_sum                         0.0               6.6
rain_sum                                  0.0               6.6
snowfall_sum                              0.0               0.0
precipitation_hours                       0.0              10.0
wind_speed_10m_max                       13.2               9.2
wind_gusts_10m_max                       26.6              32.8
wind_direction_10m_dominant             257.0              85.0
shortwave_radiation_sum                  22.1             12.06
et0_fao_evapotranspiration               5.83              2.43

##### Create schema object (table)

In [94]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:05:23 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [95]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 22 rows [00:00, 14628.20 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 22 Rows | 4 Columns | 5.10 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name                    data_type is_nullable column_default
0                     city_name            character varying          NO           None
1                      datetime                         date          NO           None
2                  weather_code             double precision         YES           None
3            temperature_2m_max             double precision         YES           None
4            temperature_2m_min             double precision         YES           None
5           temperature_2m_mean             double precision         YES           None
6      apparent_temperature_max             double precision         YES           None
7      apparent_temperature_min             double precision         YES           None
8     apparent_temperature_mean             double precision         YES           None
9                       sunrise  timestamp without time zone         YES           None
10                       sunset  timestamp without time zone         YES           None
11            daylight_duration             double precision         YES           None
12            sunshine_duration             double precision         YES           None
13            precipitation_sum             double precision         YES           None
14                     rain_sum             double precision         YES           None
15                 snowfall_sum             double precision         YES           None
16          precipitation_hours             double precision         YES           None
17           wind_speed_10m_max             double precision         YES           None
18           wind_gusts_10m_max             double precision         YES           None
19  wind_direction_10m_dominant             double precision         YES           None
20      shortwave_radiation_sum             double precision         YES           None
21   et0_fao_evapotranspiration             double precision         YES           None

##### Insert data

In [96]:
tag_res = \
    pg_up_file_copy(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

COPY Upload: 100%|██████████| 259434/259434 [00:06<00:00, 39937.25 rows/s]

-----------------------------------------------------------------
✅ PgSQL, COPY Protocol Insert Success
   Target      : asean_cities_weather.data2000s.tbl_daily_data
   Source      : daily_data.csv
   Stats       : 259,434 Rows | 22 Columns | 39.14 MB
   Duration    : 6.61s (0m 6s)
-----------------------------------------------------------------

#### daily_units

##### explorer object (table)

In [97]:
table_target = 'tbl_daily_units'

In [98]:
csvfile = f'{datasets_target}/daily_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 284.22chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes
None

                                    0
time                          iso8601
weather_code                 wmo code
temperature_2m_max                 °C
temperature_2m_min                 °C
temperature_2m_mean                °C
apparent_temperature_max           °C
apparent_temperature_min           °C
apparent_temperature_mean          °C
sunrise                       iso8601
sunset                        iso8601
daylight_duration                   s
sunshine_duration                   s
precipitation_sum                  mm
rain_sum                           mm
snowfall_sum                       cm
precipitation_hours                 h
wind_speed_10m_max               km/h
wind_gusts_10m_max               km/h
wind_direction_10m_dominant         °
shortwave_radiation_sum         MJ/m²
et0_fao_evapotranspiration         mm

##### Create schema object (table)

In [99]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:05:32 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.06s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [100]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 21 rows [00:00, 20976.51 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 21 Rows | 4 Columns | 4.89 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name          data_type is_nullable column_default
0                          time  character varying         YES           None
1                  weather_code  character varying         YES           None
2            temperature_2m_max  character varying         YES           None
3            temperature_2m_min  character varying         YES           None
4           temperature_2m_mean  character varying         YES           None
5      apparent_temperature_max  character varying         YES           None
6      apparent_temperature_min  character varying         YES           None
7     apparent_temperature_mean  character varying         YES           None
8                       sunrise  character varying         YES           None
9                        sunset  character varying         YES           None
10            daylight_duration  character varying         YES           None
11            sunshine_duration  character varying         YES           None
12            precipitation_sum  character varying         YES           None
13                     rain_sum  character varying         YES           None
14                 snowfall_sum  character varying         YES           None
15          precipitation_hours  character varying         YES           None
16           wind_speed_10m_max  character varying         YES           None
17           wind_gusts_10m_max  character varying         YES           None
18  wind_direction_10m_dominant  character varying         YES           None
19      shortwave_radiation_sum  character varying         YES           None
20   et0_fao_evapotranspiration  character varying         YES           None

##### Insert data

In [101]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 14.88rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2000s.tbl_daily_units
   Source      : daily_units.csv
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

##### explorer object (table)

In [102]:
table_target = 'tbl_hourly_data'

In [103]:
csvfile = f'{datasets_target}/hourly_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000,method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB
None

                                                  207                  8
city_name                                        Bago                 Bago
datetime                          2000-01-09 15:00:00  2000-01-01 08:00:00
temperature_2m                                   23.5                 31.8
relative_humidity_2m                             59.0                 45.0
dew_point_2m                                     15.0                 18.4
apparent_temperature                             24.1                 34.4
precipitation                                     0.0                  0.0
rain                                              0.0                  0.0
snowfall                                          0.0                  0.0
snow_depth                                        0.0                  0.0
weather_code                                      3.0                  0.0
pressure_msl                                   1010.8               1008.7
surface_pressure                               1009.4               1007.3
cloud_cover                                      86.0                  0.0
cloud_cover_low                                   0.0                  0.0
cloud_cover_mid                                   0.0                  0.0
cloud_cover_high                                 85.0                  0.0
et0_fao_evapotranspiration                       0.04                 0.49
vapour_pressure_deficit                          1.19                 2.58
wind_speed_10m                                    7.3                  6.6
wind_speed_100m                                  15.0                  8.8
wind_direction_10m                              279.0                 13.0
wind_direction_100m                             287.0                 12.0
wind_gusts_10m                                   10.8                 20.9
soil_temperature_0_to_7cm                        25.3                 32.1
soil_temperature_7_to_28cm                       27.1                 25.1
soil_temperature_28_to_100cm                     25.6                 23.9
soil_temperature_100_to_255cm                    26.1                 26.3
soil_moisture_0_to_7cm                          0.177                0.183
soil_moisture_7_to_28cm                         0.217                0.227
soil_moisture_28_to_100cm                       0.294                0.308
soil_moisture_100_to_255cm                      0.415                 0.42
shortwave_radiation                               0.0                631.0
direct_radiation                                  0.0                514.0
diffuse_radiation                                 0.0                117.0
direct_normal_irradiance                          0.0                784.5
global_tilted_irradiance                          0.0                631.0
terrestrial_radiation                             0.0                926.8
shortwave_radiation_instant                       0.0                574.5
direct_radiation_instant                          0.0                468.0
diffuse_radiation_instant                         0.0                106.5
direct_normal_irradiance_instant                  0.0                714.3
global_tilted_irradiance_instant                  0.0                574.5
terrestrial_radiation_instant                     0.0                843.9

##### Create schema object (table)

In [104]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:05:33 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [105]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 44 rows [00:00, 43992.70 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 44 Rows | 4 Columns | 10.15 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name                    data_type is_nullable column_default
0                          city_name            character varying          NO           None
1                           datetime  timestamp without time zone          NO           None
2                     temperature_2m             double precision         YES           None
3               relative_humidity_2m             double precision         YES           None
4                       dew_point_2m             double precision         YES           None
5               apparent_temperature             double precision         YES           None
6                       pressure_msl             double precision         YES           None
7                   surface_pressure             double precision         YES           None
8            vapour_pressure_deficit             double precision         YES           None
9                      precipitation             double precision         YES           None
10                              rain             double precision         YES           None
11                          snowfall             double precision         YES           None
12                        snow_depth             double precision         YES           None
13                      weather_code             double precision         YES           None
14                       cloud_cover             double precision         YES           None
15                   cloud_cover_low             double precision         YES           None
16                   cloud_cover_mid             double precision         YES           None
17                  cloud_cover_high             double precision         YES           None
18        et0_fao_evapotranspiration             double precision         YES           None
19                    wind_speed_10m             double precision         YES           None
20                   wind_speed_100m             double precision         YES           None
21                wind_direction_10m             double precision         YES           None
22               wind_direction_100m             double precision         YES           None
23                    wind_gusts_10m             double precision         YES           None
24         soil_temperature_0_to_7cm             double precision         YES           None
25        soil_temperature_7_to_28cm             double precision         YES           None
26      soil_temperature_28_to_100cm             double precision         YES           None
27     soil_temperature_100_to_255cm             double precision         YES           None
28            soil_moisture_0_to_7cm             double precision         YES           None
29           soil_moisture_7_to_28cm             double precision         YES           None
30         soil_moisture_28_to_100cm             double precision         YES           None
31        soil_moisture_100_to_255cm             double precision         YES           None
32               shortwave_radiation             double precision         YES           None
33                  direct_radiation             double precision         YES           None
34                 diffuse_radiation             double precision         YES           None
35          direct_normal_irradiance             double precision         YES           None
36          global_tilted_irradiance             double precision         YES           None
37             terrestrial_radiation             double precision         YES           None
38       shortwave_radiation_instant             double precision         YES           None
39          direct_radiation_instant             double precision         YES           None
40         diffuse_radiation_instant             double precision         YES           None
41  direct_normal_irradiance_instant             double precision         YES           None
42  global_tilted_irradiance_instant             double precision         YES           None
43     terrestrial_radiation_instant             double precision         YES           None

##### Insert data

In [106]:
tag_res = \
    pg_up_csv_pdstream(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        low_memory=False,
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Stream Upload: 100%|██████████| 1.42G/1.42G [06:03<00:00, 4.19MB/s]

-----------------------------------------------------------------
✅ PgSQL, BigData Stream Insert Success
   Target      : asean_cities_weather.data2000s.tbl_hourly_data
   Source      : hourly_data.csv
   Stats       : 6,226,416 Rows | 44 Columns | 1.42 GB
   Duration    : 363.34s (6m 3s)
-----------------------------------------------------------------

#### hourly_units

##### explorer object (table)

In [107]:
table_target = 'tbl_hourly_units'

In [108]:
csvfile = f'{datasets_target}/hourly_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=20)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 20 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 207.10chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes
None

                                         0
time                               iso8601
temperature_2m                          °C
relative_humidity_2m                     %
dew_point_2m                            °C
apparent_temperature                    °C
precipitation                           mm
rain                                    mm
snowfall                                cm
snow_depth                               m
weather_code                      wmo code
pressure_msl                           hPa
surface_pressure                       hPa
cloud_cover                              %
cloud_cover_low                          %
cloud_cover_mid                          %
cloud_cover_high                         %
et0_fao_evapotranspiration              mm
vapour_pressure_deficit                kPa
wind_speed_10m                        km/h
wind_speed_100m                       km/h
wind_direction_10m                       °
wind_direction_100m                      °
wind_gusts_10m                        km/h
soil_temperature_0_to_7cm               °C
soil_temperature_7_to_28cm              °C
soil_temperature_28_to_100cm            °C
soil_temperature_100_to_255cm           °C
soil_moisture_0_to_7cm               m³/m³
soil_moisture_7_to_28cm              m³/m³
soil_moisture_28_to_100cm            m³/m³
soil_moisture_100_to_255cm           m³/m³
shortwave_radiation                   W/m²
direct_radiation                      W/m²
diffuse_radiation                     W/m²
direct_normal_irradiance              W/m²
global_tilted_irradiance              W/m²
terrestrial_radiation                 W/m²
shortwave_radiation_instant           W/m²
direct_radiation_instant              W/m²
diffuse_radiation_instant             W/m²
direct_normal_irradiance_instant      W/m²
global_tilted_irradiance_instant      W/m²
terrestrial_radiation_instant         W/m²

##### Create schema object (table)

In [109]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:11:38 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.16s (0m 0s)
-----------------------------------------------------------------

##### Insert data

In [110]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 14.21rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2000s.tbl_hourly_units
   Source      : hourly_units.csv
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData2010ytd

In [111]:
%%sql
CREATE SCHEMA IF NOT EXISTS data2010s;

Running query in 'engconn_aseancitiesweather'

++
||
++
++

In [112]:
schema_target = 'data2010s'
datasets_target = dataset2010

#### ASEAN_cities

##### explorer object (table)

In [113]:
table_target = 'tbl_asean_cities'

In [114]:
csvfile = f'{datasets_target}/ASEAN_cities.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 180.52chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     71 non-null     object
 1   city        71 non-null     object
 2   latitude    71 non-null     float64
 3   longitude   71 non-null     float64
 4   population  71 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

                   3                4
country     Thailand         Thailand
city        Pak Kret  Ban Bang Pu Mai
latitude     13.9125          13.5441
longitude   100.4978         100.6175
population    184501           120058

##### Create schema object (table)

In [115]:
qfile = (
    f"{sqls}/"
    "pg.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:11:40 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [116]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 5 rows [00:00, 5013.51 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 5 Rows | 4 Columns | 1.20 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name          data_type is_nullable column_default
0     country  character varying          NO           None
1        city  character varying          NO           None
2    latitude   double precision         YES           None
3   longitude   double precision         YES           None
4  population            integer         YES           None

##### Insert data

In [117]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 71/71 [00:00<00:00, 580.54rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2010s.tbl_asean_cities
   Source      : ASEAN_cities.csv
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.13s (0m 0s)
-----------------------------------------------------------------

#### daily_data

##### explorer object (table)

In [118]:
table_target = 'tbl_daily_data'

In [119]:
csvfile = f'{datasets_target}/daily_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000, method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    1000 non-null   object
 1   datetime                     1000 non-null   object
 2   weather_code                 1000 non-null   float64
 3   temperature_2m_max           1000 non-null   float64
 4   temperature_2m_min           1000 non-null   float64
 5   temperature_2m_mean          1000 non-null   float64
 6   apparent_temperature_max     1000 non-null   float64
 7   apparent_temperature_min     1000 non-null   float64
 8   apparent_temperature_mean    1000 non-null   float64
 9   sunrise                      1000 non-null   object
 10  sunset                       1000 non-null   object
 11  daylight_duration            1000 non-null   float64
 12  sunshine_duration            1000 non-null   float64
 13  precipitation_sum            1000 non-null   float64
 14  rain_sum                     1000 non-null   float64
 15  snowfall_sum                 1000 non-null   float64
 16  precipitation_hours          1000 non-null   float64
 17  wind_speed_10m_max           1000 non-null   float64
 18  wind_gusts_10m_max           1000 non-null   float64
 19  wind_direction_10m_dominant  1000 non-null   float64
 20  shortwave_radiation_sum      1000 non-null   float64
 21  et0_fao_evapotranspiration   1000 non-null   float64
dtypes: float64(18), object(4)
memory usage: 172.0+ KB
None

                                           44                2
city_name                                Bago              Bago
datetime                           2010-02-14        2010-01-03
weather_code                              0.0               3.0
temperature_2m_max                       33.4              30.6
temperature_2m_min                       16.2              17.3
temperature_2m_mean                      25.1              23.1
apparent_temperature_max                 34.6              31.2
apparent_temperature_min                 17.4              15.6
apparent_temperature_mean                26.8              22.9
sunrise                      2010-02-14T00:01  2010-01-03T00:04
sunset                       2010-02-14T11:35  2010-01-03T11:12
daylight_duration                    41655.12          40041.11
sunshine_duration                    38297.94          37283.91
precipitation_sum                         0.0               0.0
rain_sum                                  0.0               0.0
snowfall_sum                              0.0               0.0
precipitation_hours                       0.0               0.0
wind_speed_10m_max                        9.5              12.1
wind_gusts_10m_max                       18.0              24.1
wind_direction_10m_dominant             162.0             337.0
shortwave_radiation_sum                  22.1             19.04
et0_fao_evapotranspiration               4.83              4.53

##### Create schema object (table)

In [120]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:11:42 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [121]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 22 rows [00:00, 10955.09 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 22 Rows | 4 Columns | 5.10 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name                    data_type is_nullable column_default
0                     city_name            character varying          NO           None
1                      datetime                         date          NO           None
2                  weather_code             double precision         YES           None
3            temperature_2m_max             double precision         YES           None
4            temperature_2m_min             double precision         YES           None
5           temperature_2m_mean             double precision         YES           None
6      apparent_temperature_max             double precision         YES           None
7      apparent_temperature_min             double precision         YES           None
8     apparent_temperature_mean             double precision         YES           None
9                       sunrise  timestamp without time zone         YES           None
10                       sunset  timestamp without time zone         YES           None
11            daylight_duration             double precision         YES           None
12            sunshine_duration             double precision         YES           None
13            precipitation_sum             double precision         YES           None
14                     rain_sum             double precision         YES           None
15                 snowfall_sum             double precision         YES           None
16          precipitation_hours             double precision         YES           None
17           wind_speed_10m_max             double precision         YES           None
18           wind_gusts_10m_max             double precision         YES           None
19  wind_direction_10m_dominant             double precision         YES           None
20      shortwave_radiation_sum             double precision         YES           None
21   et0_fao_evapotranspiration             double precision         YES           None

##### Insert data

In [122]:
tag_res = \
    pg_up_file_copy(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

COPY Upload: 100%|██████████| 395754/395754 [00:10<00:00, 38336.47 rows/s]

-----------------------------------------------------------------
✅ PgSQL, COPY Protocol Insert Success
   Target      : asean_cities_weather.data2010s.tbl_daily_data
   Source      : daily_data.csv
   Stats       : 395,754 Rows | 22 Columns | 59.77 MB
   Duration    : 10.43s (0m 10s)
-----------------------------------------------------------------

#### daily_units

##### explorer object (table)

In [123]:
table_target = 'tbl_daily_units'

In [124]:
csvfile = f'{datasets_target}/daily_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=100)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 100 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 498.49chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes
None

                                    0
time                          iso8601
weather_code                 wmo code
temperature_2m_max                 °C
temperature_2m_min                 °C
temperature_2m_mean                °C
apparent_temperature_max           °C
apparent_temperature_min           °C
apparent_temperature_mean          °C
sunrise                       iso8601
sunset                        iso8601
daylight_duration                   s
sunshine_duration                   s
precipitation_sum                  mm
rain_sum                           mm
snowfall_sum                       cm
precipitation_hours                 h
wind_speed_10m_max               km/h
wind_gusts_10m_max               km/h
wind_direction_10m_dominant         °
shortwave_radiation_sum         MJ/m²
et0_fao_evapotranspiration         mm

##### Create schema object (table)

In [125]:
qfile = (
    f"{sqls}/"
    "pg.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:11:55 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.05s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [126]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 21 rows [00:00, ? rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 21 Rows | 4 Columns | 4.89 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name          data_type is_nullable column_default
0                          time  character varying         YES           None
1                  weather_code  character varying         YES           None
2            temperature_2m_max  character varying         YES           None
3            temperature_2m_min  character varying         YES           None
4           temperature_2m_mean  character varying         YES           None
5      apparent_temperature_max  character varying         YES           None
6      apparent_temperature_min  character varying         YES           None
7     apparent_temperature_mean  character varying         YES           None
8                       sunrise  character varying         YES           None
9                        sunset  character varying         YES           None
10            daylight_duration  character varying         YES           None
11            sunshine_duration  character varying         YES           None
12            precipitation_sum  character varying         YES           None
13                     rain_sum  character varying         YES           None
14                 snowfall_sum  character varying         YES           None
15          precipitation_hours  character varying         YES           None
16           wind_speed_10m_max  character varying         YES           None
17           wind_gusts_10m_max  character varying         YES           None
18  wind_direction_10m_dominant  character varying         YES           None
19      shortwave_radiation_sum  character varying         YES           None
20   et0_fao_evapotranspiration  character varying         YES           None

##### Insert data

In [127]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 14.34rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2010s.tbl_daily_units
   Source      : daily_units.csv
   Stats       : 1 Rows | 21 Columns | 475.00 B
   Duration    : 0.08s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

##### explorer object (table)

In [128]:
table_target = 'tbl_hourly_data'

In [129]:
csvfile = f'{datasets_target}/hourly_data.csv' 
df_csvdshet = sampling_csv(csvfile,n=1000,method='head')
print(df_csvdshet.info())
df_csvdshet.sample(2).T

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB
None

                                                  204                  607
city_name                                        Bago                 Bago
datetime                          2010-01-09 12:00:00  2010-01-26 07:00:00
temperature_2m                                   27.5                 31.3
relative_humidity_2m                             78.0                 47.0
dew_point_2m                                     23.4                 18.6
apparent_temperature                             32.4                 35.5
precipitation                                     0.0                  0.0
rain                                              0.0                  0.0
snowfall                                          0.0                  0.0
snow_depth                                        0.0                  0.0
weather_code                                      0.0                  1.0
pressure_msl                                   1010.1               1012.6
surface_pressure                               1008.7               1011.2
cloud_cover                                       9.0                 22.0
cloud_cover_low                                   0.0                  0.0
cloud_cover_mid                                   9.0                 19.0
cloud_cover_high                                  0.0                  3.0
et0_fao_evapotranspiration                       0.04                 0.53
vapour_pressure_deficit                           0.8                 2.43
wind_speed_10m                                    5.9                  0.7
wind_speed_100m                                   7.1                  0.8
wind_direction_10m                              194.0                180.0
wind_direction_100m                             210.0                207.0
wind_gusts_10m                                    4.3                 16.2
soil_temperature_0_to_7cm                        28.6                 31.9
soil_temperature_7_to_28cm                       27.5                 28.0
soil_temperature_28_to_100cm                     26.1                 27.3
soil_temperature_100_to_255cm                    26.8                 26.8
soil_moisture_0_to_7cm                          0.231                0.212
soil_moisture_7_to_28cm                         0.206                0.199
soil_moisture_28_to_100cm                       0.272                0.256
soil_moisture_100_to_255cm                      0.403                0.393
shortwave_radiation                               2.0                723.0
direct_radiation                                  0.0                554.0
diffuse_radiation                                 2.0                169.0
direct_normal_irradiance                          0.0                701.5
global_tilted_irradiance                          2.0                723.0
terrestrial_radiation                            21.9               1114.4
shortwave_radiation_instant                       0.0                698.0
direct_radiation_instant                          0.0                534.8
diffuse_radiation_instant                         0.0                163.1
direct_normal_irradiance_instant                  0.0                701.5
global_tilted_irradiance_instant                  0.0                698.0
terrestrial_radiation_instant                     0.0               1075.8

##### Create schema object (table)

In [130]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:11:56 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.02s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [131]:
qfile = (
    f"{sqls}/"
    "pg.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

df_result=pg_get_df_qstring(qstrings, engine)
df_result

Executing query...

Downloading Data: 44 rows [00:00, 29008.08 rows/s]

-----------------------------------------------------------------
✅ PgSQL, DataFrame Fetch Success
   Target      : asean_cities_weather.Memory
   Source      : SQL Query
   Stats       : 44 Rows | 4 Columns | 10.15 KB
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name                    data_type is_nullable column_default
0                          city_name            character varying          NO           None
1                           datetime  timestamp without time zone          NO           None
2                     temperature_2m             double precision         YES           None
3               relative_humidity_2m             double precision         YES           None
4                       dew_point_2m             double precision         YES           None
5               apparent_temperature             double precision         YES           None
6                       pressure_msl             double precision         YES           None
7                   surface_pressure             double precision         YES           None
8            vapour_pressure_deficit             double precision         YES           None
9                      precipitation             double precision         YES           None
10                              rain             double precision         YES           None
11                          snowfall             double precision         YES           None
12                        snow_depth             double precision         YES           None
13                      weather_code             double precision         YES           None
14                       cloud_cover             double precision         YES           None
15                   cloud_cover_low             double precision         YES           None
16                   cloud_cover_mid             double precision         YES           None
17                  cloud_cover_high             double precision         YES           None
18        et0_fao_evapotranspiration             double precision         YES           None
19                    wind_speed_10m             double precision         YES           None
20                   wind_speed_100m             double precision         YES           None
21                wind_direction_10m             double precision         YES           None
22               wind_direction_100m             double precision         YES           None
23                    wind_gusts_10m             double precision         YES           None
24         soil_temperature_0_to_7cm             double precision         YES           None
25        soil_temperature_7_to_28cm             double precision         YES           None
26      soil_temperature_28_to_100cm             double precision         YES           None
27     soil_temperature_100_to_255cm             double precision         YES           None
28            soil_moisture_0_to_7cm             double precision         YES           None
29           soil_moisture_7_to_28cm             double precision         YES           None
30         soil_moisture_28_to_100cm             double precision         YES           None
31        soil_moisture_100_to_255cm             double precision         YES           None
32               shortwave_radiation             double precision         YES           None
33                  direct_radiation             double precision         YES           None
34                 diffuse_radiation             double precision         YES           None
35          direct_normal_irradiance             double precision         YES           None
36          global_tilted_irradiance             double precision         YES           None
37             terrestrial_radiation             double precision         YES           None
38       shortwave_radiation_instant             double precision         YES           None
39          direct_radiation_instant             double precision         YES           None
40         diffuse_radiation_instant             double precision         YES           None
41  direct_normal_irradiance_instant             double precision         YES           None
42  global_tilted_irradiance_instant             double precision         YES           None
43     terrestrial_radiation_instant             double precision         YES           None

##### Insert data

In [132]:
tag_res = \
    pg_up_csv_pdstream(
        file_path=csvfile,
        engine=engine,
        table_target=table_target,
        schema=schema_target,
        low_memory=False,
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Stream Upload: 100%|██████████| 2.16G/2.16G [09:19<00:00, 4.15MB/s]

-----------------------------------------------------------------
✅ PgSQL, BigData Stream Insert Success
   Target      : asean_cities_weather.data2010s.tbl_hourly_data
   Source      : hourly_data.csv
   Stats       : 9,498,096 Rows | 44 Columns | 2.16 GB
   Duration    : 560.05s (9m 20s)
-----------------------------------------------------------------

#### hourly_units

##### explorer object (table)

In [133]:
table_target = 'tbl_hourly_units'

In [134]:
csvfile = f'{datasets_target}/hourly_units.csv' 
df_csvdshet = sampling_csv(csvfile,n=20)
print(df_csvdshet.info())
df_csvdshet.sample().T

Extracting 20 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 332.43chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes
None

                                         0
time                               iso8601
temperature_2m                          °C
relative_humidity_2m                     %
dew_point_2m                            °C
apparent_temperature                    °C
precipitation                           mm
rain                                    mm
snowfall                                cm
snow_depth                               m
weather_code                      wmo code
pressure_msl                           hPa
surface_pressure                       hPa
cloud_cover                              %
cloud_cover_low                          %
cloud_cover_mid                          %
cloud_cover_high                         %
et0_fao_evapotranspiration              mm
vapour_pressure_deficit                kPa
wind_speed_10m                        km/h
wind_speed_100m                       km/h
wind_direction_10m                       °
wind_direction_100m                      °
wind_gusts_10m                        km/h
soil_temperature_0_to_7cm               °C
soil_temperature_7_to_28cm              °C
soil_temperature_28_to_100cm            °C
soil_temperature_100_to_255cm           °C
soil_moisture_0_to_7cm               m³/m³
soil_moisture_7_to_28cm              m³/m³
soil_moisture_28_to_100cm            m³/m³
soil_moisture_100_to_255cm           m³/m³
shortwave_radiation                   W/m²
direct_radiation                      W/m²
diffuse_radiation                     W/m²
direct_normal_irradiance              W/m²
global_tilted_irradiance              W/m²
terrestrial_radiation                 W/m²
shortwave_radiation_instant           W/m²
direct_radiation_instant              W/m²
diffuse_radiation_instant             W/m²
direct_normal_irradiance_instant      W/m²
global_tilted_irradiance_instant      W/m²
terrestrial_radiation_instant         W/m²

##### Create schema object (table)

In [135]:
qfile = (
    f"{sqls}/"
    "pg.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()

qstrings = qstrings.replace('{{schema_target}}', schema_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

pg_run_sql_stmt(qstrings, engine)

Running script as a single block...
13:21:17 | [STATUS] CREATE TABLE
-----------------------------------------------------------------
✅ PgSQL, Command Execution Success
   Target      : asean_cities_weather.System/Query
   Source      : SQL String
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.12s (0m 0s)
-----------------------------------------------------------------

##### Insert data

In [136]:
tag_res = \
    pg_up_file_sqlalc(
        file_path=csvfile,
        table_target=table_target,
        engine=engine,
        schema=schema_target,
        file_type='csv',
        gresult=True)

files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

SQLAlchemy Upload: 100%|██████████| 1/1 [00:00<00:00, 16.58rows/s]

-----------------------------------------------------------------
✅ PgSQL, SQLAlchemy Insert Success
   Target      : asean_cities_weather.data2010s.tbl_hourly_units
   Source      : hourly_units.csv
   Stats       : 1 Rows | 43 Columns | 1.05 KB
   Duration    : 0.07s (0m 0s)
-----------------------------------------------------------------

## Report

In [137]:
nb_total_ttm = time.time() - nb_start_time

In [138]:
nb_mins_ttm, nb_secs_ttm = int(nb_total_ttm // 60), int(nb_total_ttm % 60)
files_mins_ttm, files_secs_ttm = int(files_tm // 60), int(files_tm % 60)

print("-" * 65)
print(f"Total Durations (All): {nb_total_ttm:.2f}s ({nb_mins_ttm}m {nb_secs_ttm}s)")
print(f"Total Durations (Files data): {files_tm:.2f}s ({files_mins_ttm}m {files_secs_ttm}s)")
print(f"Total size processing (Files data): {utility._format_size_bytes(files_tbytes)}")
print(f"Total Rows upload (Files data): {files_trows:,} rows")
print("-" * 65 + "\n")

-----------------------------------------------------------------
Total Durations (All): 2067.37s (34m 27s)
Total Durations (Files data): 2025.51s (33m 45s)
Total size processing (Files data): 8.04 GB
Total Rows upload (Files data): 35,828,740 rows
-----------------------------------------------------------------