<style>
@page {
  size: A3 portrait;
  margin: 1cm;
}
body {
  font-size: 12pt;
  margin: 0;
}
</style>

@abdrahym

# ASEAN Cities Weather Data

[ASEAN Cities Weather Data 2010-YTD(https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)](https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)

## About Dataset



### Context

Coordinates of ASEAN cities from [https://simplemaps.com/](https://simplemaps.com/), hourly and daily Weather Dataset from **[https://open-meteo.com/](https://open-meteo.com/)** from January 01, 2010 to November 05, 2024.

### Field documentation go here

-   **[https://open-meteo.com/en/docs/historical-weather-api#start\_date=2010-01-01&end\_date=2025-04-05](https://open-meteo.com/en/docs/historical-weather-api#start_date=2010-01-01&end_date=2025-04-05)**
-   Datetime is in GMT

### Visually verify coordinates

-   Replace the placeholders with the latitude and longitude values of the cities **[https://www.latlong.net/c/?lat=(latitude)&long=(longitude](https://www.latlong.net/c/?lat=(latitude)&long=(longitude))**
-   Another way to visualize the coordinates **[https://www.ncei.noaa.gov/maps/radar/](https://www.ncei.noaa.gov/maps/radar/)**

### Citations and Acknowledgements

-   Zippenfenig, P. (2023). Open-Meteo.com Weather API \[Computer software\]. Zenodo. [https://doi.org/10.5281/ZENODO.7970649](https://doi.org/10.5281/ZENODO.7970649)
-   Hersbach, H., Bell, B., Berrisford, P., Biavati, G., Horányi, A., Muñoz Sabater, J., Nicolas, J., Peubey, C., Radu, R., Rozum, I., Schepers, D., Simmons, A., Soci, C., Dee, D., Thépaut, J-N. (2023). ERA5 hourly data on single levels from 1940 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/cds.adbb2d47](https://doi.org/10.24381/cds.adbb2d47)
-   Muñoz Sabater, J. (2019). ERA5-Land hourly data from 2001 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.E2161BAC](https://doi.org/10.24381/CDS.E2161BAC)
-   Schimanke S., Ridal M., Le Moigne P., Berggren L., Undén P., Randriamampianina R., Andrea U., Bazile E., Bertelsen A., Brousseau P., Dahlgren P., Edvinsson L., El Said A., Glinton M., Hopsch S., Isaksson L., Mladek R., Olsson E., Verrelle A., Wang Z.Q. (2021). CERRA sub-daily regional reanalysis data for Europe on single levels from 1984 to present \[Data set\]. ECMWF. [https://doi.org/10.24381/CDS.622A565A](https://doi.org/10.24381/CDS.622A565A)

## Initial Setup

In [1]:
# initial setup
import warnings
warnings.filterwarnings("ignore")

import time
%load_ext autoreload
%autoreload 2
time.sleep(1)

%load_ext sql

In [2]:
## get path def

import os
import sys

paths_config = {} 
if os.path.exists(".paths"):
    with open(".paths", 'r') as f:
        for line in f:
            if not line.strip() or '=' not in line:
                continue
            
            key, val = line.strip().split('=')
            key = key.strip()
            path = val.strip().strip("'")

            paths_config[key] = path

print(paths_config.keys())

## declare paths
target_syspaths = ['gscripts', 'scripts']
target_varpaths = [ 'datasets', 'dataset1970', 
                    'dataset1980', 'dataset1990', 
                    'dataset2000', 'dataset2010',                    
                    'gscripts', 'scripts',
                    'sqls', 'dbases']

for key, path in paths_config.items():
    if key in target_syspaths:
        if path and path not in sys.path:
            sys.path.append(path)
    
    if key in target_varpaths:
        globals()[key] = path

dict_keys(['datasets', 'dataset1970', 'dataset1980', 'dataset1990', 'dataset2000', 'dataset2010', 'dbases', 'gscripts', 'scripts', 'sqls'])

In [ ]:
# Prepare engine connection

run_cells = f'{scripts}/importLibsDb.cellbx.py'
%run -i $run_cells

run_cells = f'{scripts}/timecounter.cellbx.py'
%run -i $run_cells

run_cells = f'{scripts}/condb_aseancitiesweather_chdb.cellbx.py'
%run -i $run_cells

Successfully connected to ClickHouse version: 25.8.12.129

In [4]:
%config SqlMagic.displaylimit = 50
%sql $engconn_default --alias engconn_default

Connecting to 'engconn_default'

## Explorer Paths dir

In [5]:
dirpath = f'{datasets}'
os_listdir(
        path=dirpath,
        recursive=True
        )

--- Directory Table of Contents ---
Scanning recursively in: ../../.datasharewbx/ASEANCitiesWeatherDatas

[FOLDER] [path]:
  - DIR : ASEANCitiesWeatherData1970_1979
  - DIR : ASEANCitiesWeatherData1980_1989
  - DIR : ASEANCitiesWeatherData1990_1999
  - DIR : ASEANCitiesWeatherData2000_2009
  - DIR : ASEANCitiesWeatherData2010_YTD

[FOLDER] [path]\ASEANCitiesWeatherData1970_1979:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.16 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1980_1989:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData1990_1999:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.13 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2000_2009:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (39.14 MB)
  - FILE: daily_units.csv (559.00 B)
  - FILE: hourly_data.csv (1.42 GB)
  - FILE: hourly_units.csv (1.22 KB)

[FOLDER] [path]\ASEANCitiesWeatherData2010_YTD:
  - FILE: ASEAN_cities.csv (2.94 KB)
  - FILE: daily_data.csv (59.77 MB)
  - FILE: daily_units.csv (475.00 B)
  - FILE: hourly_data.csv (2.16 GB)
  - FILE: hourly_units.csv (1.05 KB)
--------------------------------------------------

## ClickHouse Database

In [6]:
%%sql

create database asean_cities_weather

Running query in 'engconn_default'

++
||
++
++

In [7]:
db_target = 'asean_cities_weather'

### ASEANCitiesWeatherData1970_1979

In [8]:
datasets_target = dataset1970

#### ASEAN_cities

In [9]:
table_target = 'tbl_asean_cities_1970s'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

##### explorer object (table)

In [10]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 221.58chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 25
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   city        10 non-null     object
 2   latitude    10 non-null     float64
 3   longitude   10 non-null     float64
 4   population  10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

##### Create schema object (table)

In [11]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.21s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [12]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 5 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name data_type is_nullable column_default
0     country    String           0
1        city    String           0
2    latitude   Float64           0
3   longitude   Float64           0
4  population     Int64           0

##### Insert data

In [13]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: ASEAN_cities.csv

DF Ingestion: 100%|██████████| 71/71 [00:00<00:00, 746.49 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_asean_cities_1970s
   Source      : 'ASEAN_cities.csv'
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### daily_data

In [14]:
table_target = 'tbl_daily_data_1970s'
file_sources = f'{datasets_target}/daily_data.csv'

##### explorer object (table)

In [15]:
df_csvdshet = sampling_csv(file_sources,n=100, method='head')
df_csvdshet.info()

Extracting first 100 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    100 non-null    object
 1   datetime                     100 non-null    object
 2   weather_code                 100 non-null    float64
 3   temperature_2m_max           100 non-null    float64
 4   temperature_2m_min           100 non-null    float64
 5   temperature_2m_mean          100 non-null    float64
 6   apparent_temperature_max     100 non-null    float64
 7   apparent_temperature_min     100 non-null    float64
 8   apparent_temperature_mean    100 non-null    float64
 9   sunrise                      100 non-null    object
 10  sunset                       100 non-null    object
 11  daylight_duration            100 non-null    float64
 12  sunshine_duration            100 non-null    float64
 13  precipitation_sum            100 non-null    float64
 14  rain_sum                     100 non-null    float64
 15  snowfall_sum                 100 non-null    float64
 16  precipitation_hours          100 non-null    float64
 17  wind_speed_10m_max           100 non-null    float64
 18  wind_gusts_10m_max           100 non-null    float64
 19  wind_direction_10m_dominant  100 non-null    float64
 20  shortwave_radiation_sum      100 non-null    float64
 21  et0_fao_evapotranspiration   100 non-null    float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

##### Create schema object (table)

In [16]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.20s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [17]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 22 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                     city_name    String           0
1                      datetime    String           0
2                  weather_code   Float64           0
3            temperature_2m_max   Float64           0
4            temperature_2m_min   Float64           0
5           temperature_2m_mean   Float64           0
6      apparent_temperature_max   Float64           0
7      apparent_temperature_min   Float64           0
8     apparent_temperature_mean   Float64           0
9                       sunrise    String           0
10                       sunset    String           0
11            daylight_duration   Float64           0
12            sunshine_duration   Float64           0
13            precipitation_sum   Float64           0
14                     rain_sum   Float64           0
15                 snowfall_sum   Float64           0
16          precipitation_hours   Float64           0
17           wind_speed_10m_max   Float64           0
18           wind_gusts_10m_max   Float64           0
19  wind_direction_10m_dominant   Float64           0
20      shortwave_radiation_sum   Float64           0
21   et0_fao_evapotranspiration   Float64           0

##### Insert data

In [18]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_data.csv

DF Ingestion: 100%|██████████| 259292/259292 [00:01<00:00, 172833.94 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_data_1970s
   Source      : 'daily_data.csv'
   Stats       : 259,292 Rows | 22 Columns | 39.16 MB
   Duration    : 1.56s (0m 1s)
-----------------------------------------------------------------

#### daily_units

In [19]:
table_target = 'tbl_daily_units_1970s'
file_sources = f'{datasets_target}/daily_units.csv'

##### explorer object (table)

In [20]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 657.21chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes

##### Create schema object (table)

In [21]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.15s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [22]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 21 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                          time    String           0
1                  weather_code    String           0
2            temperature_2m_max    String           0
3            temperature_2m_min    String           0
4           temperature_2m_mean    String           0
5      apparent_temperature_max    String           0
6      apparent_temperature_min    String           0
7     apparent_temperature_mean    String           0
8                       sunrise    String           0
9                        sunset    String           0
10            daylight_duration    String           0
11            sunshine_duration    String           0
12            precipitation_sum    String           0
13                     rain_sum    String           0
14                 snowfall_sum    String           0
15          precipitation_hours    String           0
16           wind_speed_10m_max    String           0
17           wind_gusts_10m_max    String           0
18  wind_direction_10m_dominant    String           0
19      shortwave_radiation_sum    String           0
20   et0_fao_evapotranspiration    String           0

##### Insert data

In [23]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00,  9.76 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_units_1970s
   Source      : 'daily_units.csv'
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.11s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

In [24]:
table_target = 'tbl_hourly_data_1970s'
file_sources = f'{datasets_target}/hourly_data.csv'

##### explorer object (table)

In [25]:
df_csvdshet = sampling_csv(file_sources,n=1000,method='head')
df_csvdshet.info()

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB

##### Create schema object (table)

In [26]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.28s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [27]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 44 Rows | 4 Columns
   Duration    : 0.02s (0m 0s)
-----------------------------------------------------------------

                         column_name               data_type is_nullable column_default
0                          city_name  LowCardinality(String)           0
1                           datetime                  String           0
2                     temperature_2m                 Float64           0
3               relative_humidity_2m                 Float64           0
4                       dew_point_2m                 Float64           0
5               apparent_temperature                 Float64           0
6                       pressure_msl                 Float64           0
7                   surface_pressure                 Float64           0
8                       weather_code                 Float64           0
9                      precipitation                 Float64           0
10                              rain                 Float64           0
11                          snowfall                 Float64           0
12                        snow_depth                 Float64           0
13                       cloud_cover                 Float64           0
14                   cloud_cover_low                 Float64           0
15                   cloud_cover_mid                 Float64           0
16                  cloud_cover_high                 Float64           0
17        et0_fao_evapotranspiration                 Float64           0
18           vapour_pressure_deficit                 Float64           0
19                    wind_speed_10m                 Float64           0
20                   wind_speed_100m                 Float64           0
21                wind_direction_10m                 Float64           0
22               wind_direction_100m                 Float64           0
23                    wind_gusts_10m                 Float64           0
24         soil_temperature_0_to_7cm                 Float64           0
25        soil_temperature_7_to_28cm                 Float64           0
26      soil_temperature_28_to_100cm                 Float64           0
27     soil_temperature_100_to_255cm                 Float64           0
28            soil_moisture_0_to_7cm                 Float64           0
29           soil_moisture_7_to_28cm                 Float64           0
30         soil_moisture_28_to_100cm                 Float64           0
31        soil_moisture_100_to_255cm                 Float64           0
32               shortwave_radiation                 Float64           0
33                  direct_radiation                 Float64           0
34                 diffuse_radiation                 Float64           0
35          direct_normal_irradiance                 Float64           0
36          global_tilted_irradiance                 Float64           0
37             terrestrial_radiation                 Float64           0
38       shortwave_radiation_instant                 Float64           0
39          direct_radiation_instant                 Float64           0
40         diffuse_radiation_instant                 Float64           0
41  direct_normal_irradiance_instant                 Float64           0
42  global_tilted_irradiance_instant                 Float64           0
43     terrestrial_radiation_instant                 Float64           0

##### Insert data

In [28]:
tag_res = \
    chdb_up_csv_http(
            host=host_serv, 
            port=port_serv, 
            db=db_target, 
            table=table_target, 
            file_path=file_sources,
            user=user_serv,
            upass=pass_serv,
            gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

HTTP Route - Upload: 100%|██████████| 1.42G/1.42G [00:25<00:00, 60.0MB/s]

-----------------------------------------------------------------
✅ ClickHouse, HTTP Route - Upload Success
   Target      : asean_cities_weather.tbl_hourly_data_1970s
   Source      : 'hourly_data.csv'
   Stats       : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration    : 25.50s (0m 25s)
-----------------------------------------------------------------

#### hourly_units

In [29]:
table_target = 'tbl_hourly_units_1970s'
file_sources = f'{datasets_target}/hourly_units.csv'

##### explorer object (table)

In [30]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 140.12chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes

##### Create schema object (table)

In [31]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.20s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [32]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 43 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name data_type is_nullable column_default
0                               time    String           0
1                       weather_code    String           0
2                     temperature_2m    String           0
3               relative_humidity_2m    String           0
4                       dew_point_2m    String           0
5               apparent_temperature    String           0
6            vapour_pressure_deficit    String           0
7                       pressure_msl    String           0
8                   surface_pressure    String           0
9                      precipitation    String           0
10                              rain    String           0
11                          snowfall    String           0
12                        snow_depth    String           0
13                       cloud_cover    String           0
14                   cloud_cover_low    String           0
15                   cloud_cover_mid    String           0
16                  cloud_cover_high    String           0
17        et0_fao_evapotranspiration    String           0
18                    wind_speed_10m    String           0
19                   wind_speed_100m    String           0
20                wind_direction_10m    String           0
21               wind_direction_100m    String           0
22                    wind_gusts_10m    String           0
23         soil_temperature_0_to_7cm    String           0
24        soil_temperature_7_to_28cm    String           0
25      soil_temperature_28_to_100cm    String           0
26     soil_temperature_100_to_255cm    String           0
27            soil_moisture_0_to_7cm    String           0
28           soil_moisture_7_to_28cm    String           0
29         soil_moisture_28_to_100cm    String           0
30        soil_moisture_100_to_255cm    String           0
31               shortwave_radiation    String           0
32                  direct_radiation    String           0
33                 diffuse_radiation    String           0
34          direct_normal_irradiance    String           0
35          global_tilted_irradiance    String           0
36             terrestrial_radiation    String           0
37       shortwave_radiation_instant    String           0
38          direct_radiation_instant    String           0
39         diffuse_radiation_instant    String           0
40  direct_normal_irradiance_instant    String           0
41  global_tilted_irradiance_instant    String           0
42     terrestrial_radiation_instant    String           0

##### Insert data

In [33]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: hourly_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00,  9.49 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_hourly_units_1970s
   Source      : 'hourly_units.csv'
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.21s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData1980_1989

In [34]:
datasets_target = dataset1980

#### ASEAN_cities

In [35]:
table_target = 'tbl_asean_cities_1980s'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

##### explorer object (table)

In [36]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 83.08chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 67 to 58
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   city        10 non-null     object
 2   latitude    10 non-null     float64
 3   longitude   10 non-null     float64
 4   population  10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

##### Create schema object (table)

In [37]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.27s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [38]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 5 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name data_type is_nullable column_default
0     country    String           0
1        city    String           0
2    latitude   Float64           0
3   longitude   Float64           0
4  population     Int64           0

##### Insert data

In [39]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: ASEAN_cities.csv

DF Ingestion: 100%|██████████| 71/71 [00:00<00:00, 685.12 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_asean_cities_1980s
   Source      : 'ASEAN_cities.csv'
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.11s (0m 0s)
-----------------------------------------------------------------

#### daily_data

In [40]:
table_target = 'tbl_daily_data_1980s'
file_sources = f'{datasets_target}/daily_data.csv'

##### explorer object (table)

In [41]:
df_csvdshet = sampling_csv(file_sources,n=100, method='head')
df_csvdshet.info()

Extracting first 100 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    100 non-null    object
 1   datetime                     100 non-null    object
 2   weather_code                 100 non-null    float64
 3   temperature_2m_max           100 non-null    float64
 4   temperature_2m_min           100 non-null    float64
 5   temperature_2m_mean          100 non-null    float64
 6   apparent_temperature_max     100 non-null    float64
 7   apparent_temperature_min     100 non-null    float64
 8   apparent_temperature_mean    100 non-null    float64
 9   sunrise                      100 non-null    object
 10  sunset                       100 non-null    object
 11  daylight_duration            100 non-null    float64
 12  sunshine_duration            100 non-null    float64
 13  precipitation_sum            100 non-null    float64
 14  rain_sum                     100 non-null    float64
 15  snowfall_sum                 100 non-null    float64
 16  precipitation_hours          100 non-null    float64
 17  wind_speed_10m_max           100 non-null    float64
 18  wind_gusts_10m_max           100 non-null    float64
 19  wind_direction_10m_dominant  100 non-null    float64
 20  shortwave_radiation_sum      100 non-null    float64
 21  et0_fao_evapotranspiration   100 non-null    float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

##### Create schema object (table)

In [42]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 1.75s (0m 1s)
-----------------------------------------------------------------

##### info object (table)

In [43]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 22 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                     city_name    String           0
1                      datetime    String           0
2                  weather_code   Float64           0
3            temperature_2m_max   Float64           0
4            temperature_2m_min   Float64           0
5           temperature_2m_mean   Float64           0
6      apparent_temperature_max   Float64           0
7      apparent_temperature_min   Float64           0
8     apparent_temperature_mean   Float64           0
9                       sunrise    String           0
10                       sunset    String           0
11            daylight_duration   Float64           0
12            sunshine_duration   Float64           0
13            precipitation_sum   Float64           0
14                     rain_sum   Float64           0
15                 snowfall_sum   Float64           0
16          precipitation_hours   Float64           0
17           wind_speed_10m_max   Float64           0
18           wind_gusts_10m_max   Float64           0
19  wind_direction_10m_dominant   Float64           0
20      shortwave_radiation_sum   Float64           0
21   et0_fao_evapotranspiration   Float64           0

##### Insert data

In [44]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_data.csv

DF Ingestion: 100%|██████████| 259363/259363 [00:01<00:00, 171074.70 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_data_1980s
   Source      : 'daily_data.csv'
   Stats       : 259,363 Rows | 22 Columns | 39.14 MB
   Duration    : 1.59s (0m 1s)
-----------------------------------------------------------------

#### daily_units

In [45]:
table_target = 'tbl_daily_units_1980s'
file_sources = f'{datasets_target}/daily_units.csv'

##### explorer object (table)

In [46]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 653.83chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes

##### Create schema object (table)

In [47]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.56s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [48]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 21 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                          time    String           0
1                  weather_code    String           0
2            temperature_2m_max    String           0
3            temperature_2m_min    String           0
4           temperature_2m_mean    String           0
5      apparent_temperature_max    String           0
6      apparent_temperature_min    String           0
7     apparent_temperature_mean    String           0
8                       sunrise    String           0
9                        sunset    String           0
10            daylight_duration    String           0
11            sunshine_duration    String           0
12            precipitation_sum    String           0
13                     rain_sum    String           0
14                 snowfall_sum    String           0
15          precipitation_hours    String           0
16           wind_speed_10m_max    String           0
17           wind_gusts_10m_max    String           0
18  wind_direction_10m_dominant    String           0
19      shortwave_radiation_sum    String           0
20   et0_fao_evapotranspiration    String           0

##### Insert data

In [49]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00, 10.30 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_units_1980s
   Source      : 'daily_units.csv'
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

In [50]:
table_target = 'tbl_hourly_data_1980s'
file_sources = f'{datasets_target}/hourly_data.csv'

##### explorer object (table)

In [51]:
df_csvdshet = sampling_csv(file_sources,n=1000,method='head')
df_csvdshet.info()

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB

##### Create schema object (table)

In [52]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.28s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [53]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 44 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name               data_type is_nullable column_default
0                          city_name  LowCardinality(String)           0
1                           datetime                  String           0
2                     temperature_2m                 Float64           0
3               relative_humidity_2m                 Float64           0
4                       dew_point_2m                 Float64           0
5               apparent_temperature                 Float64           0
6                       pressure_msl                 Float64           0
7                   surface_pressure                 Float64           0
8                       weather_code                 Float64           0
9                      precipitation                 Float64           0
10                              rain                 Float64           0
11                          snowfall                 Float64           0
12                        snow_depth                 Float64           0
13                       cloud_cover                 Float64           0
14                   cloud_cover_low                 Float64           0
15                   cloud_cover_mid                 Float64           0
16                  cloud_cover_high                 Float64           0
17        et0_fao_evapotranspiration                 Float64           0
18           vapour_pressure_deficit                 Float64           0
19                    wind_speed_10m                 Float64           0
20                   wind_speed_100m                 Float64           0
21                wind_direction_10m                 Float64           0
22               wind_direction_100m                 Float64           0
23                    wind_gusts_10m                 Float64           0
24         soil_temperature_0_to_7cm                 Float64           0
25        soil_temperature_7_to_28cm                 Float64           0
26      soil_temperature_28_to_100cm                 Float64           0
27     soil_temperature_100_to_255cm                 Float64           0
28            soil_moisture_0_to_7cm                 Float64           0
29           soil_moisture_7_to_28cm                 Float64           0
30         soil_moisture_28_to_100cm                 Float64           0
31        soil_moisture_100_to_255cm                 Float64           0
32               shortwave_radiation                 Float64           0
33                  direct_radiation                 Float64           0
34                 diffuse_radiation                 Float64           0
35          direct_normal_irradiance                 Float64           0
36          global_tilted_irradiance                 Float64           0
37             terrestrial_radiation                 Float64           0
38       shortwave_radiation_instant                 Float64           0
39          direct_radiation_instant                 Float64           0
40         diffuse_radiation_instant                 Float64           0
41  direct_normal_irradiance_instant                 Float64           0
42  global_tilted_irradiance_instant                 Float64           0
43     terrestrial_radiation_instant                 Float64           0

##### Insert data

In [54]:
tag_res = \
    chdb_up_csv_http(
            host=host_serv, 
            port=port_serv, 
            db=db_target, 
            table=table_target, 
            file_path=file_sources,
            user=user_serv,
            upass=pass_serv,
            gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

HTTP Route - Upload: 100%|██████████| 1.42G/1.42G [00:16<00:00, 93.3MB/s]

-----------------------------------------------------------------
✅ ClickHouse, HTTP Route - Upload Success
   Target      : asean_cities_weather.tbl_hourly_data_1980s
   Source      : 'hourly_data.csv'
   Stats       : 6,224,712 Rows | 44 Columns | 1.42 GB
   Duration    : 16.33s (0m 16s)
-----------------------------------------------------------------

#### hourly_units

In [55]:
table_target = 'tbl_hourly_units_1980s'
file_sources = f'{datasets_target}/hourly_units.csv'

##### explorer object (table)

In [56]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 215.85chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes

##### Create schema object (table)

In [57]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.18s (0m 0s)
-----------------------------------------------------------------

In [58]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 43 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name data_type is_nullable column_default
0                               time    String           0
1                       weather_code    String           0
2                     temperature_2m    String           0
3               relative_humidity_2m    String           0
4                       dew_point_2m    String           0
5               apparent_temperature    String           0
6            vapour_pressure_deficit    String           0
7                       pressure_msl    String           0
8                   surface_pressure    String           0
9                      precipitation    String           0
10                              rain    String           0
11                          snowfall    String           0
12                        snow_depth    String           0
13                       cloud_cover    String           0
14                   cloud_cover_low    String           0
15                   cloud_cover_mid    String           0
16                  cloud_cover_high    String           0
17        et0_fao_evapotranspiration    String           0
18                    wind_speed_10m    String           0
19                   wind_speed_100m    String           0
20                wind_direction_10m    String           0
21               wind_direction_100m    String           0
22                    wind_gusts_10m    String           0
23         soil_temperature_0_to_7cm    String           0
24        soil_temperature_7_to_28cm    String           0
25      soil_temperature_28_to_100cm    String           0
26     soil_temperature_100_to_255cm    String           0
27            soil_moisture_0_to_7cm    String           0
28           soil_moisture_7_to_28cm    String           0
29         soil_moisture_28_to_100cm    String           0
30        soil_moisture_100_to_255cm    String           0
31               shortwave_radiation    String           0
32                  direct_radiation    String           0
33                 diffuse_radiation    String           0
34          direct_normal_irradiance    String           0
35          global_tilted_irradiance    String           0
36             terrestrial_radiation    String           0
37       shortwave_radiation_instant    String           0
38          direct_radiation_instant    String           0
39         diffuse_radiation_instant    String           0
40  direct_normal_irradiance_instant    String           0
41  global_tilted_irradiance_instant    String           0
42     terrestrial_radiation_instant    String           0

##### Insert data

In [59]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: hourly_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00,  9.60 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_hourly_units_1980s
   Source      : 'hourly_units.csv'
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.11s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData1990_1999

In [60]:
datasets_target = dataset1990

#### ASEAN_cities

In [61]:
table_target = 'tbl_asean_cities_1990s'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

##### explorer object (table)

In [62]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 166.71chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 46 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   city        10 non-null     object
 2   latitude    10 non-null     float64
 3   longitude   10 non-null     float64
 4   population  10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

##### Create schema object (table)

In [63]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.23s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [64]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 5 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name data_type is_nullable column_default
0     country    String           0
1        city    String           0
2    latitude   Float64           0
3   longitude   Float64           0
4  population     Int64           0

##### Insert data

In [65]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: ASEAN_cities.csv

DF Ingestion: 100%|██████████| 71/71 [00:00<00:00, 765.72 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_asean_cities_1990s
   Source      : 'ASEAN_cities.csv'
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### daily_data

In [66]:
table_target = 'tbl_daily_data_1990s'
file_sources = f'{datasets_target}/daily_data.csv'

##### explorer object (table)

In [67]:
df_csvdshet = sampling_csv(file_sources,n=100, method='head')
df_csvdshet.info()

Extracting first 100 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    100 non-null    object
 1   datetime                     100 non-null    object
 2   weather_code                 100 non-null    float64
 3   temperature_2m_max           100 non-null    float64
 4   temperature_2m_min           100 non-null    float64
 5   temperature_2m_mean          100 non-null    float64
 6   apparent_temperature_max     100 non-null    float64
 7   apparent_temperature_min     100 non-null    float64
 8   apparent_temperature_mean    100 non-null    float64
 9   sunrise                      100 non-null    object
 10  sunset                       100 non-null    object
 11  daylight_duration            100 non-null    float64
 12  sunshine_duration            100 non-null    float64
 13  precipitation_sum            100 non-null    float64
 14  rain_sum                     100 non-null    float64
 15  snowfall_sum                 100 non-null    float64
 16  precipitation_hours          100 non-null    float64
 17  wind_speed_10m_max           100 non-null    float64
 18  wind_gusts_10m_max           100 non-null    float64
 19  wind_direction_10m_dominant  100 non-null    float64
 20  shortwave_radiation_sum      100 non-null    float64
 21  et0_fao_evapotranspiration   100 non-null    float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

##### Create schema object (table)

In [68]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.72s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [69]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 22 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                     city_name    String           0
1                      datetime    String           0
2                  weather_code   Float64           0
3            temperature_2m_max   Float64           0
4            temperature_2m_min   Float64           0
5           temperature_2m_mean   Float64           0
6      apparent_temperature_max   Float64           0
7      apparent_temperature_min   Float64           0
8     apparent_temperature_mean   Float64           0
9                       sunrise    String           0
10                       sunset    String           0
11            daylight_duration   Float64           0
12            sunshine_duration   Float64           0
13            precipitation_sum   Float64           0
14                     rain_sum   Float64           0
15                 snowfall_sum   Float64           0
16          precipitation_hours   Float64           0
17           wind_speed_10m_max   Float64           0
18           wind_gusts_10m_max   Float64           0
19  wind_direction_10m_dominant   Float64           0
20      shortwave_radiation_sum   Float64           0
21   et0_fao_evapotranspiration   Float64           0

##### Insert data

In [70]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_data.csv

DF Ingestion: 100%|██████████| 259292/259292 [00:01<00:00, 189851.96 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_data_1990s
   Source      : 'daily_data.csv'
   Stats       : 259,292 Rows | 22 Columns | 39.13 MB
   Duration    : 1.43s (0m 1s)
-----------------------------------------------------------------

#### daily_units

In [71]:
table_target = 'tbl_daily_units_1990s'
file_sources = f'{datasets_target}/daily_units.csv'

##### explorer object (table)

In [72]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 991.33chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes

##### Create schema object (table)

In [73]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.45s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [74]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 21 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                          time    String           0
1                  weather_code    String           0
2            temperature_2m_max    String           0
3            temperature_2m_min    String           0
4           temperature_2m_mean    String           0
5      apparent_temperature_max    String           0
6      apparent_temperature_min    String           0
7     apparent_temperature_mean    String           0
8                       sunrise    String           0
9                        sunset    String           0
10            daylight_duration    String           0
11            sunshine_duration    String           0
12            precipitation_sum    String           0
13                     rain_sum    String           0
14                 snowfall_sum    String           0
15          precipitation_hours    String           0
16           wind_speed_10m_max    String           0
17           wind_gusts_10m_max    String           0
18  wind_direction_10m_dominant    String           0
19      shortwave_radiation_sum    String           0
20   et0_fao_evapotranspiration    String           0

##### Insert data

In [75]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00,  9.45 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_units_1990s
   Source      : 'daily_units.csv'
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.11s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

In [76]:
table_target = 'tbl_hourly_data_1990s'
file_sources = f'{datasets_target}/hourly_data.csv'

##### explorer object (table)

In [77]:
df_csvdshet = sampling_csv(file_sources,n=1000,method='head')
df_csvdshet.info()

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB

##### Create schema object (table)

In [78]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 3.55s (0m 3s)
-----------------------------------------------------------------

##### info object (table)

In [79]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 44 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name               data_type is_nullable column_default
0                          city_name  LowCardinality(String)           0
1                           datetime                  String           0
2                     temperature_2m                 Float64           0
3               relative_humidity_2m                 Float64           0
4                       dew_point_2m                 Float64           0
5               apparent_temperature                 Float64           0
6                       pressure_msl                 Float64           0
7                   surface_pressure                 Float64           0
8                       weather_code                 Float64           0
9                      precipitation                 Float64           0
10                              rain                 Float64           0
11                          snowfall                 Float64           0
12                        snow_depth                 Float64           0
13                       cloud_cover                 Float64           0
14                   cloud_cover_low                 Float64           0
15                   cloud_cover_mid                 Float64           0
16                  cloud_cover_high                 Float64           0
17        et0_fao_evapotranspiration                 Float64           0
18           vapour_pressure_deficit                 Float64           0
19                    wind_speed_10m                 Float64           0
20                   wind_speed_100m                 Float64           0
21                wind_direction_10m                 Float64           0
22               wind_direction_100m                 Float64           0
23                    wind_gusts_10m                 Float64           0
24         soil_temperature_0_to_7cm                 Float64           0
25        soil_temperature_7_to_28cm                 Float64           0
26      soil_temperature_28_to_100cm                 Float64           0
27     soil_temperature_100_to_255cm                 Float64           0
28            soil_moisture_0_to_7cm                 Float64           0
29           soil_moisture_7_to_28cm                 Float64           0
30         soil_moisture_28_to_100cm                 Float64           0
31        soil_moisture_100_to_255cm                 Float64           0
32               shortwave_radiation                 Float64           0
33                  direct_radiation                 Float64           0
34                 diffuse_radiation                 Float64           0
35          direct_normal_irradiance                 Float64           0
36          global_tilted_irradiance                 Float64           0
37             terrestrial_radiation                 Float64           0
38       shortwave_radiation_instant                 Float64           0
39          direct_radiation_instant                 Float64           0
40         diffuse_radiation_instant                 Float64           0
41  direct_normal_irradiance_instant                 Float64           0
42  global_tilted_irradiance_instant                 Float64           0
43     terrestrial_radiation_instant                 Float64           0

##### Insert data

In [80]:
tag_res = \
    chdb_up_csv_http(
            host=host_serv, 
            port=port_serv, 
            db=db_target, 
            table=table_target, 
            file_path=file_sources,
            user=user_serv,
            upass=pass_serv,
            gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

HTTP Route - Upload: 100%|██████████| 1.42G/1.42G [00:16<00:00, 93.2MB/s]

-----------------------------------------------------------------
✅ ClickHouse, HTTP Route - Upload Success
   Target      : asean_cities_weather.tbl_hourly_data_1990s
   Source      : 'hourly_data.csv'
   Stats       : 6,223,008 Rows | 44 Columns | 1.42 GB
   Duration    : 16.35s (0m 16s)
-----------------------------------------------------------------

#### hourly_units

In [81]:
table_target = 'tbl_hourly_units_1990s'
file_sources = f'{datasets_target}/hourly_units.csv'

##### explorer object (table)

In [82]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 218.11chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes

##### Create schema object (table)

In [83]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 2.94s (0m 2s)
-----------------------------------------------------------------

##### info object (table)

In [84]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 43 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name data_type is_nullable column_default
0                               time    String           0
1                       weather_code    String           0
2                     temperature_2m    String           0
3               relative_humidity_2m    String           0
4                       dew_point_2m    String           0
5               apparent_temperature    String           0
6            vapour_pressure_deficit    String           0
7                       pressure_msl    String           0
8                   surface_pressure    String           0
9                      precipitation    String           0
10                              rain    String           0
11                          snowfall    String           0
12                        snow_depth    String           0
13                       cloud_cover    String           0
14                   cloud_cover_low    String           0
15                   cloud_cover_mid    String           0
16                  cloud_cover_high    String           0
17        et0_fao_evapotranspiration    String           0
18                    wind_speed_10m    String           0
19                   wind_speed_100m    String           0
20                wind_direction_10m    String           0
21               wind_direction_100m    String           0
22                    wind_gusts_10m    String           0
23         soil_temperature_0_to_7cm    String           0
24        soil_temperature_7_to_28cm    String           0
25      soil_temperature_28_to_100cm    String           0
26     soil_temperature_100_to_255cm    String           0
27            soil_moisture_0_to_7cm    String           0
28           soil_moisture_7_to_28cm    String           0
29         soil_moisture_28_to_100cm    String           0
30        soil_moisture_100_to_255cm    String           0
31               shortwave_radiation    String           0
32                  direct_radiation    String           0
33                 diffuse_radiation    String           0
34          direct_normal_irradiance    String           0
35          global_tilted_irradiance    String           0
36             terrestrial_radiation    String           0
37       shortwave_radiation_instant    String           0
38          direct_radiation_instant    String           0
39         diffuse_radiation_instant    String           0
40  direct_normal_irradiance_instant    String           0
41  global_tilted_irradiance_instant    String           0
42     terrestrial_radiation_instant    String           0

##### Insert data

In [85]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: hourly_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00, 10.12 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_hourly_units_1990s
   Source      : 'hourly_units.csv'
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData2000_2009

In [86]:
datasets_target = dataset2000

#### ASEAN_cities

In [87]:
table_target = 'tbl_asean_cities_2000s'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

##### explorer object (table)

In [88]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 221.29chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 49 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   city        10 non-null     object
 2   latitude    10 non-null     float64
 3   longitude   10 non-null     float64
 4   population  10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

##### Create schema object (table)

In [89]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.30s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [90]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 5 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name data_type is_nullable column_default
0     country    String           0
1        city    String           0
2    latitude   Float64           0
3   longitude   Float64           0
4  population     Int64           0

##### Insert data

In [91]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: ASEAN_cities.csv

DF Ingestion: 100%|██████████| 71/71 [00:00<00:00, 763.07 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_asean_cities_2000s
   Source      : 'ASEAN_cities.csv'
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### daily_data

In [92]:
table_target = 'tbl_daily_data_2000s'
file_sources = f'{datasets_target}/daily_data.csv'

##### explorer object (table)

In [93]:
df_csvdshet = sampling_csv(file_sources,n=100, method='head')
df_csvdshet.info()

Extracting first 100 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    100 non-null    object
 1   datetime                     100 non-null    object
 2   weather_code                 100 non-null    float64
 3   temperature_2m_max           100 non-null    float64
 4   temperature_2m_min           100 non-null    float64
 5   temperature_2m_mean          100 non-null    float64
 6   apparent_temperature_max     100 non-null    float64
 7   apparent_temperature_min     100 non-null    float64
 8   apparent_temperature_mean    100 non-null    float64
 9   sunrise                      100 non-null    object
 10  sunset                       100 non-null    object
 11  daylight_duration            100 non-null    float64
 12  sunshine_duration            100 non-null    float64
 13  precipitation_sum            100 non-null    float64
 14  rain_sum                     100 non-null    float64
 15  snowfall_sum                 100 non-null    float64
 16  precipitation_hours          100 non-null    float64
 17  wind_speed_10m_max           100 non-null    float64
 18  wind_gusts_10m_max           100 non-null    float64
 19  wind_direction_10m_dominant  100 non-null    float64
 20  shortwave_radiation_sum      100 non-null    float64
 21  et0_fao_evapotranspiration   100 non-null    float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

##### Create schema object (table)

In [94]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.26s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [95]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 22 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                     city_name    String           0
1                      datetime    String           0
2                  weather_code   Float64           0
3            temperature_2m_max   Float64           0
4            temperature_2m_min   Float64           0
5           temperature_2m_mean   Float64           0
6      apparent_temperature_max   Float64           0
7      apparent_temperature_min   Float64           0
8     apparent_temperature_mean   Float64           0
9                       sunrise    String           0
10                       sunset    String           0
11            daylight_duration   Float64           0
12            sunshine_duration   Float64           0
13            precipitation_sum   Float64           0
14                     rain_sum   Float64           0
15                 snowfall_sum   Float64           0
16          precipitation_hours   Float64           0
17           wind_speed_10m_max   Float64           0
18           wind_gusts_10m_max   Float64           0
19  wind_direction_10m_dominant   Float64           0
20      shortwave_radiation_sum   Float64           0
21   et0_fao_evapotranspiration   Float64           0

##### Insert data

In [96]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_data.csv

DF Ingestion: 100%|██████████| 259434/259434 [00:01<00:00, 176817.72 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_data_2000s
   Source      : 'daily_data.csv'
   Stats       : 259,434 Rows | 22 Columns | 39.14 MB
   Duration    : 1.53s (0m 1s)
-----------------------------------------------------------------

#### daily_units

In [97]:
table_target = 'tbl_daily_units_2000s'
file_sources = f'{datasets_target}/daily_units.csv'

##### explorer object (table)

In [98]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 280.11chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes

##### Create schema object (table)

In [99]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.19s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [100]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 21 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                          time    String           0
1                  weather_code    String           0
2            temperature_2m_max    String           0
3            temperature_2m_min    String           0
4           temperature_2m_mean    String           0
5      apparent_temperature_max    String           0
6      apparent_temperature_min    String           0
7     apparent_temperature_mean    String           0
8                       sunrise    String           0
9                        sunset    String           0
10            daylight_duration    String           0
11            sunshine_duration    String           0
12            precipitation_sum    String           0
13                     rain_sum    String           0
14                 snowfall_sum    String           0
15          precipitation_hours    String           0
16           wind_speed_10m_max    String           0
17           wind_gusts_10m_max    String           0
18  wind_direction_10m_dominant    String           0
19      shortwave_radiation_sum    String           0
20   et0_fao_evapotranspiration    String           0

##### Insert data

In [101]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00, 10.66 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_units_2000s
   Source      : 'daily_units.csv'
   Stats       : 1 Rows | 21 Columns | 559.00 B
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

In [102]:
table_target = 'tbl_hourly_data_2000s'
file_sources = f'{datasets_target}/hourly_data.csv'

##### explorer object (table)

In [103]:
df_csvdshet = sampling_csv(file_sources,n=1000,method='head')
df_csvdshet.info()

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB

##### Create schema object (table)

In [104]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.21s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [105]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 44 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name               data_type is_nullable column_default
0                          city_name  LowCardinality(String)           0
1                           datetime                  String           0
2                     temperature_2m                 Float64           0
3               relative_humidity_2m                 Float64           0
4                       dew_point_2m                 Float64           0
5               apparent_temperature                 Float64           0
6                       pressure_msl                 Float64           0
7                   surface_pressure                 Float64           0
8                       weather_code                 Float64           0
9                      precipitation                 Float64           0
10                              rain                 Float64           0
11                          snowfall                 Float64           0
12                        snow_depth                 Float64           0
13                       cloud_cover                 Float64           0
14                   cloud_cover_low                 Float64           0
15                   cloud_cover_mid                 Float64           0
16                  cloud_cover_high                 Float64           0
17        et0_fao_evapotranspiration                 Float64           0
18           vapour_pressure_deficit                 Float64           0
19                    wind_speed_10m                 Float64           0
20                   wind_speed_100m                 Float64           0
21                wind_direction_10m                 Float64           0
22               wind_direction_100m                 Float64           0
23                    wind_gusts_10m                 Float64           0
24         soil_temperature_0_to_7cm                 Float64           0
25        soil_temperature_7_to_28cm                 Float64           0
26      soil_temperature_28_to_100cm                 Float64           0
27     soil_temperature_100_to_255cm                 Float64           0
28            soil_moisture_0_to_7cm                 Float64           0
29           soil_moisture_7_to_28cm                 Float64           0
30         soil_moisture_28_to_100cm                 Float64           0
31        soil_moisture_100_to_255cm                 Float64           0
32               shortwave_radiation                 Float64           0
33                  direct_radiation                 Float64           0
34                 diffuse_radiation                 Float64           0
35          direct_normal_irradiance                 Float64           0
36          global_tilted_irradiance                 Float64           0
37             terrestrial_radiation                 Float64           0
38       shortwave_radiation_instant                 Float64           0
39          direct_radiation_instant                 Float64           0
40         diffuse_radiation_instant                 Float64           0
41  direct_normal_irradiance_instant                 Float64           0
42  global_tilted_irradiance_instant                 Float64           0
43     terrestrial_radiation_instant                 Float64           0

##### Insert data

In [106]:
tag_res = \
    chdb_up_csv_http(
            host=host_serv, 
            port=port_serv, 
            db=db_target, 
            table=table_target, 
            file_path=file_sources,
            user=user_serv,
            upass=pass_serv,
            gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

HTTP Route - Upload: 100%|██████████| 1.42G/1.42G [00:15<00:00, 98.1MB/s]

-----------------------------------------------------------------
✅ ClickHouse, HTTP Route - Upload Success
   Target      : asean_cities_weather.tbl_hourly_data_2000s
   Source      : 'hourly_data.csv'
   Stats       : 6,226,416 Rows | 44 Columns | 1.42 GB
   Duration    : 15.54s (0m 15s)
-----------------------------------------------------------------

#### hourly_units

In [107]:
table_target = 'tbl_hourly_units_2000s'
file_sources = f'{datasets_target}/hourly_units.csv'

##### explorer object (table)

In [108]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 247.85chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes

##### Create schema object (table)

In [109]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 3.24s (0m 3s)
-----------------------------------------------------------------

##### info object (table)

In [110]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 43 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name data_type is_nullable column_default
0                               time    String           0
1                       weather_code    String           0
2                     temperature_2m    String           0
3               relative_humidity_2m    String           0
4                       dew_point_2m    String           0
5               apparent_temperature    String           0
6            vapour_pressure_deficit    String           0
7                       pressure_msl    String           0
8                   surface_pressure    String           0
9                      precipitation    String           0
10                              rain    String           0
11                          snowfall    String           0
12                        snow_depth    String           0
13                       cloud_cover    String           0
14                   cloud_cover_low    String           0
15                   cloud_cover_mid    String           0
16                  cloud_cover_high    String           0
17        et0_fao_evapotranspiration    String           0
18                    wind_speed_10m    String           0
19                   wind_speed_100m    String           0
20                wind_direction_10m    String           0
21               wind_direction_100m    String           0
22                    wind_gusts_10m    String           0
23         soil_temperature_0_to_7cm    String           0
24        soil_temperature_7_to_28cm    String           0
25      soil_temperature_28_to_100cm    String           0
26     soil_temperature_100_to_255cm    String           0
27            soil_moisture_0_to_7cm    String           0
28           soil_moisture_7_to_28cm    String           0
29         soil_moisture_28_to_100cm    String           0
30        soil_moisture_100_to_255cm    String           0
31               shortwave_radiation    String           0
32                  direct_radiation    String           0
33                 diffuse_radiation    String           0
34          direct_normal_irradiance    String           0
35          global_tilted_irradiance    String           0
36             terrestrial_radiation    String           0
37       shortwave_radiation_instant    String           0
38          direct_radiation_instant    String           0
39         diffuse_radiation_instant    String           0
40  direct_normal_irradiance_instant    String           0
41  global_tilted_irradiance_instant    String           0
42     terrestrial_radiation_instant    String           0

##### Insert data

In [111]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: hourly_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00,  9.64 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_hourly_units_2000s
   Source      : 'hourly_units.csv'
   Stats       : 1 Rows | 43 Columns | 1.22 KB
   Duration    : 0.11s (0m 0s)
-----------------------------------------------------------------

### ASEANCitiesWeatherData2010_YTD

In [112]:
datasets_target = dataset2010

#### ASEAN_cities

In [113]:
table_target = 'tbl_asean_cities_2010s'
file_sources = f'{datasets_target}/ASEAN_cities.csv'

##### explorer object (table)

In [114]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 250.12chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 12 to 39
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   city        10 non-null     object
 2   latitude    10 non-null     float64
 3   longitude   10 non-null     float64
 4   population  10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

##### Create schema object (table)

In [115]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_asean_cities.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.77s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [116]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 5 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

  column_name data_type is_nullable column_default
0     country    String           0
1        city    String           0
2    latitude   Float64           0
3   longitude   Float64           0
4  population     Int64           0

##### Insert data

In [117]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: ASEAN_cities.csv

DF Ingestion: 100%|██████████| 71/71 [00:00<00:00, 744.69 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_asean_cities_2010s
   Source      : 'ASEAN_cities.csv'
   Stats       : 71 Rows | 5 Columns | 2.94 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### daily_data

In [118]:
table_target = 'tbl_daily_data_2010s'
file_sources = f'{datasets_target}/daily_data.csv'

##### explorer object (table)

In [119]:
df_csvdshet = sampling_csv(file_sources,n=100, method='head')
df_csvdshet.info()

Extracting first 100 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city_name                    100 non-null    object
 1   datetime                     100 non-null    object
 2   weather_code                 100 non-null    float64
 3   temperature_2m_max           100 non-null    float64
 4   temperature_2m_min           100 non-null    float64
 5   temperature_2m_mean          100 non-null    float64
 6   apparent_temperature_max     100 non-null    float64
 7   apparent_temperature_min     100 non-null    float64
 8   apparent_temperature_mean    100 non-null    float64
 9   sunrise                      100 non-null    object
 10  sunset                       100 non-null    object
 11  daylight_duration            100 non-null    float64
 12  sunshine_duration            100 non-null    float64
 13  precipitation_sum            100 non-null    float64
 14  rain_sum                     100 non-null    float64
 15  snowfall_sum                 100 non-null    float64
 16  precipitation_hours          100 non-null    float64
 17  wind_speed_10m_max           100 non-null    float64
 18  wind_gusts_10m_max           100 non-null    float64
 19  wind_direction_10m_dominant  100 non-null    float64
 20  shortwave_radiation_sum      100 non-null    float64
 21  et0_fao_evapotranspiration   100 non-null    float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

##### Create schema object (table)

In [120]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.26s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [121]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 22 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                     city_name    String           0
1                      datetime    String           0
2                  weather_code   Float64           0
3            temperature_2m_max   Float64           0
4            temperature_2m_min   Float64           0
5           temperature_2m_mean   Float64           0
6      apparent_temperature_max   Float64           0
7      apparent_temperature_min   Float64           0
8     apparent_temperature_mean   Float64           0
9                       sunrise    String           0
10                       sunset    String           0
11            daylight_duration   Float64           0
12            sunshine_duration   Float64           0
13            precipitation_sum   Float64           0
14                     rain_sum   Float64           0
15                 snowfall_sum   Float64           0
16          precipitation_hours   Float64           0
17           wind_speed_10m_max   Float64           0
18           wind_gusts_10m_max   Float64           0
19  wind_direction_10m_dominant   Float64           0
20      shortwave_radiation_sum   Float64           0
21   et0_fao_evapotranspiration   Float64           0

##### Insert data

In [122]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_data.csv

DF Ingestion: 100%|██████████| 395754/395754 [00:02<00:00, 184495.00 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_data_2010s
   Source      : 'daily_data.csv'
   Stats       : 395,754 Rows | 22 Columns | 59.77 MB
   Duration    : 2.24s (0m 2s)
-----------------------------------------------------------------

#### daily_units

In [123]:
table_target = 'tbl_daily_units_2010s'
file_sources = f'{datasets_target}/daily_units.csv'

##### explorer object (table)

In [124]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 325.80chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   time                         1 non-null      object
 1   weather_code                 1 non-null      object
 2   temperature_2m_max           1 non-null      object
 3   temperature_2m_min           1 non-null      object
 4   temperature_2m_mean          1 non-null      object
 5   apparent_temperature_max     1 non-null      object
 6   apparent_temperature_min     1 non-null      object
 7   apparent_temperature_mean    1 non-null      object
 8   sunrise                      1 non-null      object
 9   sunset                       1 non-null      object
 10  daylight_duration            1 non-null      object
 11  sunshine_duration            1 non-null      object
 12  precipitation_sum            1 non-null      object
 13  rain_sum                     1 non-null      object
 14  snowfall_sum                 1 non-null      object
 15  precipitation_hours          1 non-null      object
 16  wind_speed_10m_max           1 non-null      object
 17  wind_gusts_10m_max           1 non-null      object
 18  wind_direction_10m_dominant  1 non-null      object
 19  shortwave_radiation_sum      1 non-null      object
 20  et0_fao_evapotranspiration   1 non-null      object
dtypes: object(21)
memory usage: 176.0+ bytes

##### Create schema object (table)

In [125]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_daily_units.tbl.crate.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.29s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [126]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 21 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                    column_name data_type is_nullable column_default
0                          time    String           0
1                  weather_code    String           0
2            temperature_2m_max    String           0
3            temperature_2m_min    String           0
4           temperature_2m_mean    String           0
5      apparent_temperature_max    String           0
6      apparent_temperature_min    String           0
7     apparent_temperature_mean    String           0
8                       sunrise    String           0
9                        sunset    String           0
10            daylight_duration    String           0
11            sunshine_duration    String           0
12            precipitation_sum    String           0
13                     rain_sum    String           0
14                 snowfall_sum    String           0
15          precipitation_hours    String           0
16           wind_speed_10m_max    String           0
17           wind_gusts_10m_max    String           0
18  wind_direction_10m_dominant    String           0
19      shortwave_radiation_sum    String           0
20   et0_fao_evapotranspiration    String           0

##### Insert data

In [127]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: daily_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00, 10.63 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_daily_units_2010s
   Source      : 'daily_units.csv'
   Stats       : 1 Rows | 21 Columns | 475.00 B
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

#### hourly_data

In [128]:
table_target = 'tbl_hourly_data_2010s'
file_sources = f'{datasets_target}/hourly_data.csv'

##### explorer object (table)

In [129]:
df_csvdshet = sampling_csv(file_sources,n=1000,method='head')
df_csvdshet.info()

Extracting first 1000 rows...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   city_name                         1000 non-null   object
 1   datetime                          1000 non-null   object
 2   temperature_2m                    1000 non-null   float64
 3   relative_humidity_2m              1000 non-null   float64
 4   dew_point_2m                      1000 non-null   float64
 5   apparent_temperature              1000 non-null   float64
 6   precipitation                     1000 non-null   float64
 7   rain                              1000 non-null   float64
 8   snowfall                          1000 non-null   float64
 9   snow_depth                        1000 non-null   float64
 10  weather_code                      1000 non-null   float64
 11  pressure_msl                      1000 non-null   float64
 12  surface_pressure                  1000 non-null   float64
 13  cloud_cover                       1000 non-null   float64
 14  cloud_cover_low                   1000 non-null   float64
 15  cloud_cover_mid                   1000 non-null   float64
 16  cloud_cover_high                  1000 non-null   float64
 17  et0_fao_evapotranspiration        1000 non-null   float64
 18  vapour_pressure_deficit           1000 non-null   float64
 19  wind_speed_10m                    1000 non-null   float64
 20  wind_speed_100m                   1000 non-null   float64
 21  wind_direction_10m                1000 non-null   float64
 22  wind_direction_100m               1000 non-null   float64
 23  wind_gusts_10m                    1000 non-null   float64
 24  soil_temperature_0_to_7cm         1000 non-null   float64
 25  soil_temperature_7_to_28cm        1000 non-null   float64
 26  soil_temperature_28_to_100cm      1000 non-null   float64
 27  soil_temperature_100_to_255cm     1000 non-null   float64
 28  soil_moisture_0_to_7cm            1000 non-null   float64
 29  soil_moisture_7_to_28cm           1000 non-null   float64
 30  soil_moisture_28_to_100cm         1000 non-null   float64
 31  soil_moisture_100_to_255cm        1000 non-null   float64
 32  shortwave_radiation               1000 non-null   float64
 33  direct_radiation                  1000 non-null   float64
 34  diffuse_radiation                 1000 non-null   float64
 35  direct_normal_irradiance          1000 non-null   float64
 36  global_tilted_irradiance          1000 non-null   float64
 37  terrestrial_radiation             1000 non-null   float64
 38  shortwave_radiation_instant       1000 non-null   float64
 39  direct_radiation_instant          1000 non-null   float64
 40  diffuse_radiation_instant         1000 non-null   float64
 41  direct_normal_irradiance_instant  1000 non-null   float64
 42  global_tilted_irradiance_instant  1000 non-null   float64
 43  terrestrial_radiation_instant     1000 non-null   float64
dtypes: float64(42), object(2)
memory usage: 343.9+ KB

##### Create schema object (table)

In [130]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_data.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 0.34s (0m 0s)
-----------------------------------------------------------------

##### info object (table)

In [131]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 44 Rows | 4 Columns
   Duration    : 0.04s (0m 0s)
-----------------------------------------------------------------

                         column_name               data_type is_nullable column_default
0                          city_name  LowCardinality(String)           0
1                           datetime                  String           0
2                     temperature_2m                 Float64           0
3               relative_humidity_2m                 Float64           0
4                       dew_point_2m                 Float64           0
5               apparent_temperature                 Float64           0
6                       pressure_msl                 Float64           0
7                   surface_pressure                 Float64           0
8                       weather_code                 Float64           0
9                      precipitation                 Float64           0
10                              rain                 Float64           0
11                          snowfall                 Float64           0
12                        snow_depth                 Float64           0
13                       cloud_cover                 Float64           0
14                   cloud_cover_low                 Float64           0
15                   cloud_cover_mid                 Float64           0
16                  cloud_cover_high                 Float64           0
17        et0_fao_evapotranspiration                 Float64           0
18           vapour_pressure_deficit                 Float64           0
19                    wind_speed_10m                 Float64           0
20                   wind_speed_100m                 Float64           0
21                wind_direction_10m                 Float64           0
22               wind_direction_100m                 Float64           0
23                    wind_gusts_10m                 Float64           0
24         soil_temperature_0_to_7cm                 Float64           0
25        soil_temperature_7_to_28cm                 Float64           0
26      soil_temperature_28_to_100cm                 Float64           0
27     soil_temperature_100_to_255cm                 Float64           0
28            soil_moisture_0_to_7cm                 Float64           0
29           soil_moisture_7_to_28cm                 Float64           0
30         soil_moisture_28_to_100cm                 Float64           0
31        soil_moisture_100_to_255cm                 Float64           0
32               shortwave_radiation                 Float64           0
33                  direct_radiation                 Float64           0
34                 diffuse_radiation                 Float64           0
35          direct_normal_irradiance                 Float64           0
36          global_tilted_irradiance                 Float64           0
37             terrestrial_radiation                 Float64           0
38       shortwave_radiation_instant                 Float64           0
39          direct_radiation_instant                 Float64           0
40         diffuse_radiation_instant                 Float64           0
41  direct_normal_irradiance_instant                 Float64           0
42  global_tilted_irradiance_instant                 Float64           0
43     terrestrial_radiation_instant                 Float64           0

##### Insert data

In [132]:
tag_res = \
    chdb_up_csv_http(
            host=host_serv, 
            port=port_serv, 
            db=db_target, 
            table=table_target, 
            file_path=file_sources,
            user=user_serv,
            upass=pass_serv,
            gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

HTTP Route - Upload: 100%|██████████| 2.16G/2.16G [00:23<00:00, 98.4MB/s]

-----------------------------------------------------------------
✅ ClickHouse, HTTP Route - Upload Success
   Target      : asean_cities_weather.tbl_hourly_data_2010s
   Source      : 'hourly_data.csv'
   Stats       : 9,498,096 Rows | 44 Columns | 2.16 GB
   Duration    : 23.61s (0m 23s)
-----------------------------------------------------------------

#### hourly_units

In [133]:
table_target = 'tbl_hourly_units_2010s'
file_sources = f'{datasets_target}/hourly_units.csv'

##### explorer object (table)

In [134]:
df_csvdshet = sampling_csv(file_sources,n=10)
df_csvdshet.info()

Extracting 10 random rows (Reservoir Sampling)...

Reservoir sampling: 1chunk [00:00, 284.80chunk/s]

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   time                              1 non-null      object
 1   temperature_2m                    1 non-null      object
 2   relative_humidity_2m              1 non-null      object
 3   dew_point_2m                      1 non-null      object
 4   apparent_temperature              1 non-null      object
 5   precipitation                     1 non-null      object
 6   rain                              1 non-null      object
 7   snowfall                          1 non-null      object
 8   snow_depth                        1 non-null      object
 9   weather_code                      1 non-null      object
 10  pressure_msl                      1 non-null      object
 11  surface_pressure                  1 non-null      object
 12  cloud_cover                       1 non-null      object
 13  cloud_cover_low                   1 non-null      object
 14  cloud_cover_mid                   1 non-null      object
 15  cloud_cover_high                  1 non-null      object
 16  et0_fao_evapotranspiration        1 non-null      object
 17  vapour_pressure_deficit           1 non-null      object
 18  wind_speed_10m                    1 non-null      object
 19  wind_speed_100m                   1 non-null      object
 20  wind_direction_10m                1 non-null      object
 21  wind_direction_100m               1 non-null      object
 22  wind_gusts_10m                    1 non-null      object
 23  soil_temperature_0_to_7cm         1 non-null      object
 24  soil_temperature_7_to_28cm        1 non-null      object
 25  soil_temperature_28_to_100cm      1 non-null      object
 26  soil_temperature_100_to_255cm     1 non-null      object
 27  soil_moisture_0_to_7cm            1 non-null      object
 28  soil_moisture_7_to_28cm           1 non-null      object
 29  soil_moisture_28_to_100cm         1 non-null      object
 30  soil_moisture_100_to_255cm        1 non-null      object
 31  shortwave_radiation               1 non-null      object
 32  direct_radiation                  1 non-null      object
 33  diffuse_radiation                 1 non-null      object
 34  direct_normal_irradiance          1 non-null      object
 35  global_tilted_irradiance          1 non-null      object
 36  terrestrial_radiation             1 non-null      object
 37  shortwave_radiation_instant       1 non-null      object
 38  direct_radiation_instant          1 non-null      object
 39  diffuse_radiation_instant         1 non-null      object
 40  direct_normal_irradiance_instant  1 non-null      object
 41  global_tilted_irradiance_instant  1 non-null      object
 42  terrestrial_radiation_instant     1 non-null      object
dtypes: object(43)
memory usage: 352.0+ bytes

##### Create schema object (table)

In [135]:
qfile = (
    f"{sqls}/"
    "chdb.tbl_hourly_units.tbl.create.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)

chdb_run_sql_query(qstrings, client)

-----------------------------------------------------------------
✅ ClickHouse, Command Success
   Target      : N/A.Server
   Source      : 'SQL Script'
   Stats       : 0 Rows | 0 Columns
   Duration    : 5.36s (0m 5s)
-----------------------------------------------------------------

##### info object (table)

In [136]:
qfile = (
    f"{sqls}/"
    "chdb.inspect_tbl.sql"
)
with open(qfile, 'r') as file:
    qstrings = file.read()
    
qstrings = qstrings.replace('{{db_target}}', db_target)
qstrings = qstrings.replace('{{table_target}}', table_target)


df_results = chdb_run_sql_query(qstrings, client)
df_results

-----------------------------------------------------------------
✅ ClickHouse, Query Success
   Target      : N/A.DataFrame
   Source      : 'Memory'
   Stats       : 43 Rows | 4 Columns
   Duration    : 0.01s (0m 0s)
-----------------------------------------------------------------

                         column_name data_type is_nullable column_default
0                               time    String           0
1                       weather_code    String           0
2                     temperature_2m    String           0
3               relative_humidity_2m    String           0
4                       dew_point_2m    String           0
5               apparent_temperature    String           0
6            vapour_pressure_deficit    String           0
7                       pressure_msl    String           0
8                   surface_pressure    String           0
9                      precipitation    String           0
10                              rain    String           0
11                          snowfall    String           0
12                        snow_depth    String           0
13                       cloud_cover    String           0
14                   cloud_cover_low    String           0
15                   cloud_cover_mid    String           0
16                  cloud_cover_high    String           0
17        et0_fao_evapotranspiration    String           0
18                    wind_speed_10m    String           0
19                   wind_speed_100m    String           0
20                wind_direction_10m    String           0
21               wind_direction_100m    String           0
22                    wind_gusts_10m    String           0
23         soil_temperature_0_to_7cm    String           0
24        soil_temperature_7_to_28cm    String           0
25      soil_temperature_28_to_100cm    String           0
26     soil_temperature_100_to_255cm    String           0
27            soil_moisture_0_to_7cm    String           0
28           soil_moisture_7_to_28cm    String           0
29         soil_moisture_28_to_100cm    String           0
30        soil_moisture_100_to_255cm    String           0
31               shortwave_radiation    String           0
32                  direct_radiation    String           0
33                 diffuse_radiation    String           0
34          direct_normal_irradiance    String           0
35          global_tilted_irradiance    String           0
36             terrestrial_radiation    String           0
37       shortwave_radiation_instant    String           0
38          direct_radiation_instant    String           0
39         diffuse_radiation_instant    String           0
40  direct_normal_irradiance_instant    String           0
41  global_tilted_irradiance_instant    String           0
42     terrestrial_radiation_instant    String           0

##### Insert data

In [137]:
tag_res = \
    chdb_up_csv_dfstream(
        client,
        db=db_target,
        table=table_target,
        file_path=file_sources,
        gresult=True)
    
files_tm += tag_res[0]
files_tbytes += tag_res[1]
files_trows += tag_res[2]

Preparing DataFrame-based Ingestion: hourly_units.csv

DF Ingestion: 100%|██████████| 1/1 [00:00<00:00, 10.40 rows/s]

-----------------------------------------------------------------
✅ ClickHouse, DataFrame Insert Success
   Target      : asean_cities_weather.tbl_hourly_units_2010s
   Source      : 'hourly_units.csv'
   Stats       : 1 Rows | 43 Columns | 1.05 KB
   Duration    : 0.10s (0m 0s)
-----------------------------------------------------------------

## Report

In [138]:
nb_total_ttm = time.time() - nb_start_time

In [140]:
nb_mins_ttm, nb_secs_ttm = int(nb_total_ttm // 60), int(nb_total_ttm % 60)
files_mins_ttm, files_secs_ttm = int(files_tm // 60), int(files_tm % 60)

print("-" * 65)
print(f"Total Durations (All): {nb_total_ttm:.2f}s ({nb_mins_ttm}m {nb_secs_ttm}s)")
print(f"Total Durations (Files data): {files_tm:.2f}s ({files_mins_ttm}m {files_secs_ttm}s)")
print(f"Total size processing (Files data): {utility._format_size_bytes(files_tbytes)}")
print(f"Total Rows upload (Files data): {files_trows:,} rows")
print("-" * 65 + "\n")

-----------------------------------------------------------------
Total Durations (All): 172.83s (2m 52s)
Total Durations (Files data): 107.33s (1m 47s)
Total size processing (Files data): 8.04 GB
Total Rows upload (Files data): 35,828,740 rows
-----------------------------------------------------------------