<style>
@page {
  size: A3 portrait;
  margin: 1cm;
}
body {
  font-size: 12pt;
  margin: 0;
}
</style>

@abdrahym

# ASEAN Cities Weather Data

[ASEAN Cities Weather Data 2010-YTD(https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)](https://www.kaggle.com/datasets/bwandowando/asean-cities-weather-data-2010-2024)

## Data Profiling

### Initial Setup

In [1]:
# initial setup
import warnings
warnings.filterwarnings("ignore")

import time
%load_ext autoreload
%autoreload 2
time.sleep(1)

%load_ext sql

In [2]:
## get path def

import os
import sys

paths_config = {} 
if os.path.exists(".paths"):
    with open(".paths", 'r') as f:
        for line in f:
            if not line.strip() or '=' not in line:
                continue
            
            key, val = line.strip().split('=')
            key = key.strip()
            path = val.strip().strip("'")

            paths_config[key] = path

## declare paths
target_syspaths = ['wscripts', 'gscripts']
target_varpaths = [ 'wscripts', 'gscripts',
                    'wsqls', 'gsqls', 
                    'dbases']

for key, path in paths_config.items():
    if key in target_syspaths:
        if path and path not in sys.path:
            sys.path.append(path)
    
    if key in target_varpaths:
        globals()[key] = path

In [3]:
run_cells = f'{wscripts}/importLibsDb.cellbx.py'
%run -i $run_cells

In [ ]:
dirpath = f'{dbases}'
os_listdir(
        path=dirpath,
        exc_lkly='_dev'
        )

--- Directory Table of Contents ---
[FILTER LIKELY IGNORE]: _dev
- [DIR]  .ddb
- [FILE] asean_cities_weather.duckdb    [2.75 GB]
--------------------------------------------------

In [5]:
duckdb_files = f'{dbases}/asean_cities_weather.duckdb'
run_cells = f'{wscripts}/condb_aseancitiesweather_ddb.cellbx.py'
%run -i $run_cells

✅ Successfully connected to DuckDB
   Version: v1.4.3

### explorer object (table)

#### Schema Explorer

In [6]:
qfile = f"{gsqls}/ddb.inspect_schemas.sql"
with open(qfile, 'r') as file:
    qstring = file.read()
df_catalog = ddb_run_dfqstring(qstring,duckdb_files,getmetrict=False)
df_catalog

           catalog_name schema_name  tables  views  total_objects
0  asean_cities_weather        main       0      5              5
1  asean_cities_weather      models       8      0              8
2  asean_cities_weather  years1970s       5      0              5
3  asean_cities_weather  years1980s       5      0              5
4  asean_cities_weather  years1990s       5      0              5
5  asean_cities_weather  years2000s       5      0              5
6  asean_cities_weather  years2010s       5      0              5

#### Objects Explorer

In [14]:
schema='main'
ddb_inspect_schema(schema, duckdb_files)

Found 5 objects in schema 'main'

In [15]:
schema='models'
ddb_inspect_schema(schema, duckdb_files)

Found 8 objects in schema 'models'

### Profiling

In [ ]:
from summarytools import dfSummary
model = "models.hourly_phase_weather_advw"

dfSummary(ddb_getdf_model(duckdb_files, model))

Fetching models.hourly_phase_weather_advw:

100%|██████████| 7165320/7165320 [01:24<00:00, 84988.66 rows/s]

-----------------------------------------------------------------
✅ DuckDB, model to DF Success
   ddb File : asean_cities_weather.duckdb
   Target   : Pandas DataFrame
   Source   : 'models.hourly_phase_weather_advw'
   Stats    : 7,165,320 Rows | 18 Columns
   Duration : 84.84s (1m 24s)
-----------------------------------------------------------------